html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Montserrat";
  src: url("./Fonts/static/Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Kaushan";
  src: url("./Fonts/static/KaushanScript-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("./Fonts/static/Roboto-Regular.ttf");
}
.welcome {
  background-image: url("./Photos/WelcomePage/TopBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.mainContent {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

li {
  display: inline;
}

.header {
  width: 95%;
  margin: 0 auto;
  padding: 2%;
  display: inline-block;
}

.header .selection {
  display: inline-block;
  font-family: "Montserrat";
  font-size: 14px;
  color: white;
  font-weight: 400;
  vertical-align: bottom;
  margin: 0 15px;
}

.selection:hover {
  color: #fce38a;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-position: under;
}

.header img:not(img:first-of-type) {
  margin: 0 15px;
  vertical-align: bottom;
}

.header .logo {
  text-align: left;
  width: 90px;
  display: inline-block;
  vertical-align: bottom;
}
.header .logo img {
  width: 100%;
}

li img {
  margin: 0 15px;
}

.header .selections {
  display: inline-block;
  width: 89%;
  text-align: right;
}

.header div {
  width: 95%;
  display: inline-block;
}

.welcomeContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.welcomeContent h1:first-child {
  font-family: "Kaushan";
  font-size: 72px;
  font-weight: 400;
}

.welcomeContent h1:last-of-type {
  font-family: "Montserrat";
  font-size: 142px;
  text-transform: uppercase;
  line-height: 140px;
  font-weight: 700;
  margin-top: 32px;
}

.numbers {
  opacity: 1;
  font-weight: 700;
}

.welcomeContent h1 {
  display: block;
  margin: 0;
  color: #ffffff;
}

.welcomeContent img,
button {
  display: block;
  margin: 50px auto;
}

.welcomeContent img {
  margin-top: 70px;
}

.welcomeContent button {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  width: 160px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #ffffff;
}

.welcomeBottom {
  box-sizing: border-box;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  position: absolute;
  max-width: 1200px;
  width: 100%;
}
.welcomeBottom > .hoveron {
  display: inline-block;
  width: 22%;
  text-align: left;
  margin: 0 1%;
}
.welcomeBottom > .hoveron > .welcomeline {
  width: 100%;
  margin: 0;
  height: 3px;
  opacity: 0.502;
  background-color: #ffffff;
}
.welcomeBottom > .hoveron > .welcomeline > .welcomeLine2 {
  background-color: #ffffff;
  opacity: 0;
  width: 10%;
  height: 3px;
  transition: width 2s ease;
}
.welcomeBottom > .hoveron > p {
  font-family: "Montserrat";
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  color: #ffffff;
  margin: 20px 0;
  box-sizing: border-box;
  opacity: 0.702;
}
.welcomeBottom > .hoveron:hover p {
  opacity: 1;
  font-weight: 700;
}
.welcomeBottom > .hoveron:hover .welcomeline .welcomeLine2 {
  transition-timing-function: ease;
  background-color: #f38181;
  width: 100%;
  opacity: 1;
}

.aboutUsPage h1:first-of-type {
  font-size: 24px;
  color: #333333;
  font-weight: 400;
  font-family: "Kaushan";
  text-align: center;
  margin-bottom: 20px;
  margin-bottom: 20px;
}

.aboutUsPage h1:last-of-type {
  font-size: 30px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 40px;
  margin-bottom: 40px;
}

.aboutUsPage {
  text-align: center;
  padding: 100px 0;
  width: 100%;
}

.aboutUsPage p {
  width: 960px;
  height: 130px;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  display: inline-block;
  display: inline-block;
}

.line {
  width: 60px;
  height: 3px;
  background-color: #f38181;
  display: block;
  margin: 44px auto;
}

.aboutUsPhotos {
  max-width: 1200px;
  margin: 0 auto;
}

.aboutUsPhotosBack {
  position: relative;
  display: inline-block;
  height: 250px;
  margin: 1%;
  box-sizing: border-box;
}

.aboutUsPhotosBack img {
  height: 100%;
  width: 370px;
  transition: box-shadow 0.3s ease-in-out;
}

.aboutUsPhotosBack img:first-of-type {
  position: absolute;
  top: 0;
  opacity: 0;
}

.aboutUsPhotosBack:hover img:first-of-type {
  opacity: 0.908;
}

.aboutUsPhotosBack:hover img:last-of-type {
  box-shadow: 10px 10px 5px #95e1d3;
}

.count {
  width: 100%;
  height: 270px;
  background-color: #95e1d3;
  box-sizing: border-box;
  margin: 0 auto;
}

.count .countCenter {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
.count .countCenter tr {
  text-align: center;
}
.count .countCenter td {
  border: solid 1px rgba(255, 255, 255, 0.302);
  vertical-align: middle;
  width: 19%;
}
.count .countCenter p:first-of-type {
  font-size: 72px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  display: block;
  margin-bottom: 28px;
}
.count .countCenter p:last-of-type {
  font-family: "Montserrat";
  color: white;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.AmazingServicesPage {
  text-align: center;
  padding: 100px 0;
  width: 100%;
}
.AmazingServicesPage h1:first-of-type {
  font-size: 24px;
  color: #333333;
  font-weight: 400;
  font-family: "Kaushan";
  text-align: center;
  margin-bottom: 20px;
}
.AmazingServicesPage h1:last-of-type {
  font-size: 30px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 40px;
}
.AmazingServicesPage .AmazingServicesBottom {
  display: inline-block;
  max-width: 1200px;
}
.AmazingServicesPage .AmazingServicesBottom div:nth-of-type(-n + 3) {
  border-bottom: solid 1px #e5e5e5;
}
.AmazingServicesPage .AmazingServicesBottom div {
  display: inline-block;
  width: 32%;
  text-align: left;
  padding: 25px 0;
}
.AmazingServicesPage .AmazingServicesBottom div p:first-of-type {
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 500;
  font-family: "Montserrat";
  margin-bottom: 15px;
}
.AmazingServicesPage .AmazingServicesBottom div p:last-of-type {
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  font-family: "Roboto";
  margin-left: 14%;
}
.AmazingServicesPage .AmazingServicesBottom div p {
  width: 70%;
  display: inline-block;
  margin-left: 5%;
}
.AmazingServicesPage .AmazingServicesBottom div img {
  display: inline-block;
  vertical-align: bottom;
}

.UniqueDesignPage {
  background-image: url("./Photos/UniqueDesignPage/UniqueDesignBackground1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  padding: 100px 0;
  width: 100%;
  padding-bottom: 0;
}
.UniqueDesignPage .UniqueDesignContent {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}
.UniqueDesignPage .UniqueDesignContent h1:first-of-type {
  position: relative;
  font-size: 24px;
  color: #333333;
  font-weight: 400;
  font-family: "Kaushan";
  text-align: center;
  margin-bottom: 20px;
}
.UniqueDesignPage .UniqueDesignContent h1:last-of-type {
  font-size: 30px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 40px;
}
.UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos {
  overflow: hidden;
  padding-top: 7%;
  max-width: 1200px;
  margin: 0 auto;
  vertical-align: bottom;
}
.UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:first-of-type {
  height: 700px;
  overflow: hidden;
  vertical-align: bottom;
}
.UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:last-of-type {
  height: 437px;
  position: absolute;
  vertical-align: bottom;
  left: 56%;
  margin-top: 250px;
}

.WhatWeDo {
  text-align: center;
  padding: 100px 0;
  width: 100%;
}
.WhatWeDo .WhatWeDoTop h1:first-of-type {
  font-size: 24px;
  color: #333333;
  font-weight: 400;
  font-family: "Kaushan";
  text-align: center;
  margin-bottom: 20px;
}
.WhatWeDo .WhatWeDoTop h1:last-of-type {
  font-size: 30px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 40px;
}
.WhatWeDo .WhatWeDoTop p {
  display: inline-block;
  width: 960px;
  height: 130px;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  display: inline-block;
}
.WhatWeDo .WhatWeDoBottom {
  max-width: 1200px;
  margin: 0 auto;
}
.WhatWeDo .WhatWeDoBottom div:first-of-type {
  min-width: 270px;
}
.WhatWeDo .WhatWeDoBottom div {
  width: 49%;
  display: inline-block;
}
.WhatWeDo .WhatWeDoBottom div img {
  width: 100%;
}
.WhatWeDo .WhatWeDoBottom .WhatWeDoBottomRight {
  vertical-align: top;
  text-align: right;
}
.WhatWeDo .WhatWeDoBottom .WhatWeDoBottomRight .accordion {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 400;
  min-width: 198px;
  font-family: "Montserrat";
  vertical-align: middle;
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100.3%;
  border: 1px solid #e5e5e5;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin: 0;
}
.WhatWeDo .WhatWeDoBottom .WhatWeDoBottomRight .accordion p {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 16px;
}
.WhatWeDo .WhatWeDoBottom .WhatWeDoBottomRight .accordion img {
  vertical-align: middle;
  width: 30px;
  height: 30px;
}
.WhatWeDo .WhatWeDoBottom .WhatWeDoBottomRight .active,
.WhatWeDo .WhatWeDoBottom .WhatWeDoBottomRight .accordion:hover {
  background-color: white;
  border: 1px solid #e5e5e5;
}
.WhatWeDo .WhatWeDoBottom .WhatWeDoBottomRight .panel {
  display: none;
  overflow: auto;
  width: 94%;
  min-width: 198px;
  text-align: left;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
  border: 1px solid #e5e5e5;
  padding: 3%;
  height: 135px;
}

.firstQuote {
  text-align: center;
  padding: 100px 0;
  width: 100%;
  background-color: #f8f8f8;
  height: 290px;
  box-sizing: border-box;
  padding: 70px 0;
  vertical-align: middle;
  height: 100%;
}
.firstQuote .firstQuoteContent {
  position: relative;
  max-width: 1200px;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
  width: 100%;
}
.firstQuote .arrow1 {
  width: 10%;
  display: inline-block;
  text-align: left;
}
.firstQuote .firstQuotePhoto {
  height: 100%;
  display: inline-block;
  margin-left: 10%;
}
.firstQuote p {
  display: inline-block;
  width: 100%;
  font-size: 24px;
  line-height: 36px;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
}
.firstQuote .arrow2 {
  width: 10%;
  display: inline-block;
  text-align: right;
  right: 0;
}
.firstQuote .line {
  margin: 0;
  display: inline-block;
}
.firstQuote h1 {
  font-size: 24px;
  color: #333333;
  font-weight: 400;
  font-family: "Kaushan";
  text-align: center;
  margin-bottom: 20px;
  margin: 0;
  text-align: left;
  width: 20%;
  display: inline-block;
}
.firstQuote .firstQuoteText {
  width: 65%;
  display: inline-block;
  margin-left: 5%;
}
.firstQuote .firstQuoteText h1 {
  margin-top: 3%;
  width: 50%;
}

.firstQuoteText,
.arrow1,
.arrow2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.MeetOurTeam {
  text-align: center;
  padding: 100px 0;
  width: 100%;
}
.MeetOurTeam .MeetOurTeamTop h1:first-of-type {
  font-size: 24px;
  color: #333333;
  font-weight: 400;
  font-family: "Kaushan";
  text-align: center;
  margin-bottom: 20px;
}
.MeetOurTeam .MeetOurTeamTop h1:last-of-type {
  font-size: 30px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 40px;
}
.MeetOurTeam .MeetOurTeamTop p {
  width: 960px;
  height: 130px;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  display: inline-block;
}
.MeetOurTeam .MeetOurTeamBottom div:hover .gradiant {
  opacity: 0.908;
  box-shadow: 10px 10px 5px #95e1d3;
}
.MeetOurTeam .MeetOurTeamBottom .MeetOurTeamBox .MeetOurTeamPhotos:hover .SocialMedia {
  opacity: 1;
}
.MeetOurTeam .MeetOurTeamBottom {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.MeetOurTeam .MeetOurTeamBottom .MeetOurTeamBox {
  margin: 0 15px;
  width: 30%;
  display: inline-block;
  position: relative;
}
.MeetOurTeam .MeetOurTeamBottom .MeetOurTeamBox .SocialMedia {
  display: inline-block;
  width: 50%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%);
  opacity: 0;
  margin: 0;
  height: 10%;
  font-size: 0;
  z-index: 2;
}
.MeetOurTeam .MeetOurTeamBottom .MeetOurTeamBox .SocialMedia button {
  margin: 0;
  display: inline-block;
  height: 100%;
  width: 25%;
  font-size: 0;
  background-color: #fce38a;
  opacity: 1;
  z-index: 2;
  border-top: 0;
  border-bottom: 0;
  border-color: rgba(243, 129, 129, 0.508);
  padding: 0;
  cursor: pointer;
  box-shadow: none;
}
.MeetOurTeam .MeetOurTeamBottom .MeetOurTeamBox .SocialMedia button img {
  display: inline-block;
  opacity: 1;
  width: 50%;
  height: 50%;
  box-shadow: none;
  opacity: 1;
  z-index: 0;
}
.MeetOurTeam .MeetOurTeamBottom .MeetOurTeamBox .MeetOurTeamPhotos {
  min-width: 200px;
}
.MeetOurTeam .MeetOurTeamBottom .MeetOurTeamBox .MeetOurTeamPhotos .gradiant {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: auto;
}
.MeetOurTeam .MeetOurTeamBottom .MeetOurTeamBox .MeetOurTeamPhotos img {
  width: 100%;
  height: auto;
  margin-bottom: 3%;
}
.MeetOurTeam .MeetOurTeamBottom .MeetOurTeamBox .MeetOurTeamPhotos:hover .gradiant {
  opacity: 0.908;
  box-shadow: 10px 10px 5px #95e1d3;
}
.MeetOurTeam .MeetOurTeamBottom .MeetOurTeamBox .MeetOurTeamPhotos:hover .SocialMedia {
  opacity: 1;
}
.MeetOurTeam .MeetOurTeamBottom .MeetOurTeamBox p {
  margin-top: 3%;
}
.MeetOurTeam .MeetOurTeamBottom .MeetOurTeamBox p:first-of-type {
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: center;
}
.MeetOurTeam .MeetOurTeamBottom .MeetOurTeamBox p:last-of-type {
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
  text-align: center;
}

.hipsterLogos {
  text-align: center;
  padding: 100px 0;
  width: 100%;
  background-color: #f8f8f8;
  height: 100%;
  box-sizing: border-box;
}
.hipsterLogos .hipsterLogosContent {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.hipsterLogos .hipsterLogosContent .hipsterLogoPhoto {
  box-sizing: border-box;
  display: inline-block;
  width: 192px;
  vertical-align: middle;
}

.SomeOfOurWork {
  text-align: center;
  padding: 100px 0;
  width: 100%;
  padding-bottom: 0;
}
.SomeOfOurWork .SomeOfOurWorkTop h1:first-of-type {
  font-size: 24px;
  color: #333333;
  font-weight: 400;
  font-family: "Kaushan";
  text-align: center;
  margin-bottom: 20px;
}
.SomeOfOurWork .SomeOfOurWorkTop h1:last-of-type {
  font-size: 30px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 40px;
}
.SomeOfOurWork .SomeOfOurWorkTop p {
  width: 960px;
  height: 130px;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
  display: inline-block;
}
.SomeOfOurWork .SomeOfOurWorkBottom {
  text-align: left;
  font-size: 0;
}
.SomeOfOurWork .SomeOfOurWorkBottom div:first-of-type {
  width: 50%;
  display: inline-block;
  font-size: 0;
}
.SomeOfOurWork .SomeOfOurWorkBottom div:first-of-type img {
  width: 50%;
  height: 395px;
}
.SomeOfOurWork .SomeOfOurWorkBottom div:nth-child(2) {
  height: 100%;
  width: 25%;
  display: inline-block;
  font-size: 0;
  margin-left: -4px;
}
.SomeOfOurWork .SomeOfOurWorkBottom div:nth-child(2) img {
  width: 100%;
  height: 790px;
}
.SomeOfOurWork .SomeOfOurWorkBottom div:last-of-type {
  height: 100%;
  width: 25%;
  display: inline-block;
  font-size: 0;
}
.SomeOfOurWork .SomeOfOurWorkBottom div:last-of-type img {
  width: 100%;
  height: 395px;
}

.secondQuote {
  text-align: center;
  padding: 100px 0;
  width: 100%;
  background-color: white;
  height: 290px;
  box-sizing: border-box;
  padding: 0 0;
  vertical-align: middle;
  margin: 2% 0;
}
.secondQuote .firstQuoteContent {
  position: relative;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  display: inline-block;
  text-align: left;
  box-sizing: border-box;
}
.secondQuote .arrow1 {
  width: 10%;
  display: inline-block;
  text-align: left;
}
.secondQuote .firstQuotePhoto {
  height: 100%;
  display: inline-block;
  margin-left: 10%;
}
.secondQuote .firstQuotePhoto img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.secondQuote p {
  display: inline-block;
  width: 100%;
  font-size: 24px;
  line-height: 36px;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
}
.secondQuote .arrow2 {
  width: 10%;
  display: inline-block;
  text-align: right;
  right: 0;
}
.secondQuote .line {
  margin: 0;
  display: inline-block;
}
.secondQuote h1 {
  font-size: 24px;
  color: #333333;
  font-weight: 400;
  font-family: "Kaushan";
  text-align: center;
  margin-bottom: 20px;
  margin: 0;
  text-align: left;
  width: 20%;
  display: inline-block;
}
.secondQuote .firstQuoteText {
  width: 65%;
  display: inline-block;
  margin-left: 5%;
}
.secondQuote .firstQuoteText h1 {
  margin-top: 3%;
  width: 60%;
}

.firstQuoteText,
.arrow1,
.arrow2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.WhatPeopleSay {
  width: 100%;
  background-image: url("./Photos/WhatPeopleSay/WhatPeopleSayBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 100px 0;
  width: 100%;
}
.WhatPeopleSay .WhatPeopleSayTop h1:first-of-type {
  font-size: 24px;
  color: #333333;
  font-weight: 400;
  font-family: "Kaushan";
  text-align: center;
  margin-bottom: 20px;
}
.WhatPeopleSay .WhatPeopleSayTop h1:last-of-type {
  font-size: 30px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 40px;
}
.WhatPeopleSay .WhatPeopleSayBottom {
  max-width: 1200px;
  margin: 0 auto;
}
.WhatPeopleSay .WhatPeopleSayBottom div {
  width: 49%;
  text-align: left;
  display: inline-block;
  margin-bottom: 5%;
}
.WhatPeopleSay .WhatPeopleSayBottom div .WhatPeopleSayPhoto {
  width: 25%;
  vertical-align: top;
}
.WhatPeopleSay .WhatPeopleSayBottom div .WhatPeopleSayText {
  width: 60%;
}
.WhatPeopleSay .WhatPeopleSayBottom div .WhatPeopleSayText .line {
  margin: 5% 0;
  width: 25%;
}
.WhatPeopleSay .WhatPeopleSayBottom div .WhatPeopleSayText p:first-of-type {
  margin-bottom: 14px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat";
}
.WhatPeopleSay .WhatPeopleSayBottom div .WhatPeopleSayText p:nth-child(2) {
  font-size: 15px;
  color: #333333;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
}
.WhatPeopleSay .WhatPeopleSayBottom div .WhatPeopleSayText p:last-of-type {
  font-size: 15px;
  color: #999999;
  font-weight: 400;
  font-family: "Roboto";
}

.LatestBlog {
  text-align: center;
  padding: 100px 0;
  width: 100%;
}
.LatestBlog .LatestBlogContent {
  margin: 0 auto;
  max-width: 1200px;
}
.LatestBlog .LatestBlogContent .LatestBlogTop h1:first-of-type {
  font-size: 24px;
  color: #333333;
  font-weight: 400;
  font-family: "Kaushan";
  text-align: center;
  margin-bottom: 20px;
}
.LatestBlog .LatestBlogContent .LatestBlogTop h1:last-of-type {
  font-size: 30px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  margin-bottom: 40px;
}
.LatestBlog .LatestBlogContent .LatestBlogBottom {
  display: inline-block;
  width: 100%;
}
.LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox {
  width: 33%;
  display: inline-block;
  text-align: left;
}
.LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxPhoto {
  width: 100%;
  height: 50%;
}
.LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxText {
  width: 95%;
  margin: 0 auto;
}
.LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxText img {
  width: 20px;
  height: 14px;
}
.LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxText p:first-of-type {
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 600;
  font-family: "Montserrat";
}
.LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxText p:nth-of-type(2) {
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  font-family: "Roboto";
}
.LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxText .line {
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  margin: 5% 0;
}
.LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxText p:nth-last-of-type(-n+2) {
  width: 10%;
  display: inline-block;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
}

.OpenMap {
  text-align: center;
  padding: 100px 0;
  width: 100%;
  padding: 1% 0;
  background-image: url("./Photos/OpenMap/OpenMapBackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.OpenMap .OpenMapContent {
  max-width: 1200px;
  margin: 0 auto;
}
.OpenMap .OpenMapContent img {
  margin: 1% 0;
}
.OpenMap .OpenMapContent .line {
  margin: 2% 0;
  display: inline-block;
}
.OpenMap .OpenMapContent p {
  font-size: 24px;
  text-transform: uppercase;
  color: #f38181;
  font-weight: 700;
  font-family: "Montserrat";
}

.MogoBottomPage {
  text-align: center;
  padding: 100px 0;
  width: 100%;
  background-color: #f8f8f8;
}
.MogoBottomPage .MogoBottomPageContent {
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}
.MogoBottomPage .MogoBottomPageContent .Instagram,
.MogoBottomPage .MogoBottomPageContent .BottomBlogs,
.MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
  width: 33%;
  display: inline-block;
}
.MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
  text-align: left;
  vertical-align: top;
  width: 37%;
  margin-right: 3%;
  max-width: 450px;
  max-height: 405px;
}
.MogoBottomPage .MogoBottomPageContent .MogoBottomLeft p:first-of-type {
  margin: 11% 0;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  font-family: "Roboto";
}
.MogoBottomPage .MogoBottomPageContent .MogoBottomLeft p:nth-of-type(2) {
  font-size: 14px;
  color: #333333;
  font-weight: 400;
  font-family: "Montserrat";
}
.MogoBottomPage .MogoBottomPageContent .MogoBottomLeft p:nth-of-type(2) span {
  font-size: 18px;
  color: #333333;
  font-weight: 700;
  font-family: "Montserrat";
}
.MogoBottomPage .MogoBottomPageContent .MogoBottomLeft input {
  width: 45%;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  display: inline-block;
  margin: 8% 0;
}
.MogoBottomPage .MogoBottomPageContent .MogoBottomLeft button {
  border: none;
  margin: 0;
  display: inline-block;
  width: 150px;
  height: 44px;
  background-color: #95e1d3;
  margin-left: -4px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
}
.MogoBottomPage .MogoBottomPageContent .MogoBottomLeft p:last-of-type {
  width: 20%;
  display: inline-block;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
}
.MogoBottomPage .MogoBottomPageContent .MogoBottomLeft .line {
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  margin: 2% 0;
}
.MogoBottomPage .MogoBottomPageContent .BottomBlogs {
  vertical-align: top;
  text-align: left;
  width: 33%;
  max-width: 400px;
  max-height: 380px;
}
.MogoBottomPage .MogoBottomPageContent .BottomBlogs .BlogName {
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 600;
  font-family: "Montserrat";
  vertical-align: top;
}
.MogoBottomPage .MogoBottomPageContent .BottomBlogs .BottomBlogBox:last-of-type {
  margin-bottom: 0;
}
.MogoBottomPage .MogoBottomPageContent .BottomBlogs .BottomBlogBox {
  margin: 10% 0;
}
.MogoBottomPage .MogoBottomPageContent .BottomBlogs .BottomBlogBox p:first-of-type {
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 600;
  font-family: "Montserrat";
}
.MogoBottomPage .MogoBottomPageContent .BottomBlogs .BottomBlogBox p {
  margin: 2% 0;
}
.MogoBottomPage .MogoBottomPageContent .BottomBlogs .BottomBlogBox p:last-of-type {
  font-size: 13px;
  line-height: 24px;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
}
.MogoBottomPage .MogoBottomPageContent .BottomBlogs .BottomBlogBox .BlogPhoto {
  width: 33%;
  display: inline-block;
}
.MogoBottomPage .MogoBottomPageContent .BottomBlogs .BottomBlogBox .BlogPhoto img {
  width: 100%;
}
.MogoBottomPage .MogoBottomPageContent .BottomBlogs .BottomBlogBox .BlogText {
  vertical-align: bottom;
  width: 65%;
  display: inline-block;
}
.MogoBottomPage .MogoBottomPageContent .Instagram {
  height: 100%;
  vertical-align: top;
  text-align: left;
  width: 26%;
  max-width: 315px;
  max-height: 390px;
}
.MogoBottomPage .MogoBottomPageContent .Instagram p:first-of-type {
  margin-bottom: 9%;
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 600;
  font-family: "Montserrat";
  vertical-align: top;
  text-align: left;
}
.MogoBottomPage .MogoBottomPageContent .Instagram p:last-of-type {
  margin-top: 5%;
  font-size: 13px;
  line-height: 24px;
  color: #333333;
  font-weight: 300;
  font-style: italic;
  font-family: "Roboto";
}
.MogoBottomPage .MogoBottomPageContent .Instagram .InstagramPhotos div {
  width: 32%;
  display: inline-block;
}
.MogoBottomPage .MogoBottomPageContent .Instagram .InstagramPhotos div img {
  width: 100%;
}

@media screen and (max-height: 730px) {
  .welcomeContent h1:first-of-type {
    margin-top: 0;
  }
  .welcomeContent h1:last-of-type {
    margin-top: 0;
    font-size: 130px;
  }
  ul {
    display: none;
  }
}
@media screen and (max-height: 820px) and (min-height: 730px) {
  ul {
    display: none;
  }
}
@media screen and (max-width: 308px) {
  .LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxText p:nth-last-of-type(-n+2) {
    width: 20%;
  }
  .MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
    margin: 0;
  }
  .MogoBottomPage .MogoBottomPageContent .MogoBottomLeft input {
    width: 40%;
  }
  .MogoBottomPage .MogoBottomPageContent .MogoBottomLeft button {
    width: 110px;
  }
  .MogoBottomPage .MogoBottomPageContent .BottomBlogs .BottomBlogBox p:first-of-type {
    font-size: 9px;
  }
  .MogoBottomPage .MogoBottomPageContent .Instagram {
    margin-top: 8%;
  }
  .MogoBottomPage .MogoBottomPageContent .BottomBlogs,
  .MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
    max-width: none;
    max-height: none;
  }
  .MogoBottomPage .MogoBottomPageContent {
    text-align: center;
  }
  .MogoBottomPage .MogoBottomPageContent .Instagram,
  .MogoBottomPage .MogoBottomPageContent .BottomBlogs,
  .MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
    width: 95%;
  }
  .MogoBottomPage .MogoBottomPageContent {
    text-align: center;
  }
  .LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox {
    width: 80%;
  }
  .LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxText p:nth-of-type(2) {
    font-size: 13px;
  }
  .UniqueDesignPage {
    height: 45vh;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:first-of-type {
    height: 380px;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:last-of-type {
    height: 250px;
  }
  .WhatPeopleSay .WhatPeopleSayBottom div {
    width: 100%;
  }
  .WhatPeopleSay .WhatPeopleSayBottom div .WhatPeopleSayPhoto {
    text-align: center;
    width: 37%;
  }
  .MeetOurTeam .MeetOurTeamBottom .MeetOurTeamBox {
    width: 80%;
    margin: 0;
  }
  .AmazingServicesPage .AmazingServicesBottom div p:first-of-type {
    font-size: 10px;
  }
  .secondQuote p {
    font-size: 13px;
  }
  .secondQuote .firstQuotePhoto {
    width: 15%;
    text-align: center;
    padding: 35% 0;
    box-sizing: border-box;
  }
  .secondQuote .firstQuotePhoto img {
    width: 100%;
    height: 90%;
  }
  .Removed {
    display: none;
  }
  .secondQuote h1,
  .firstQuote h1 {
    font-size: 15px;
  }
  .secondQuotePhoto img,
  .firstQuotePhoto img {
    width: 100px;
    height: 100px;
  }
  .firstQuote .firstQuoteText {
    width: 50%;
  }
  .secondQuote p,
  .firstQuote p {
    font-size: 11px;
    width: 79%;
    line-height: 18px;
  }
  .WhatPeopleSay .WhatPeopleSayBottom,
  .secondQuote .firstQuoteContent,
  .MeetOurTeam .MeetOurTeamBottom,
  .firstQuote .firstQuoteContent,
  .WhatWeDo .WhatWeDoBottom {
    width: 100%;
  }
  .WhatWeDo .WhatWeDoBottom .WhatWeDoBottomRight {
    width: 80%;
  }
  .WhatWeDo .WhatWeDoBottom .WhatWeDoBottom div:first-of-type {
    width: 100%;
  }
  .WhatWeDo .WhatWeDoBottom .WhatWeDo .WhatWeDoBottom div:first-of-type {
    width: 100%;
  }
  .AmazingServicesPage .AmazingServicesBottom div p {
    width: auto;
    margin: 0;
    font-size: 11px;
  }
  .AmazingServicesPage .AmazingServicesBottom div {
    width: 49%;
  }
  .AmazingServicesPage .AmazingServicesBottom {
    width: 90%;
  }
  .AmazingServicesPage .AmazingServicesBottom div:nth-of-type(-n+4) {
    border-bottom: solid 1px #e5e5e5;
  }
  .secondQuote .firstQuoteContent p,
  .aboutUsPage p,
  .MeetOurTeam .MeetOurTeamTop p,
  .SomeOfOurWork .SomeOfOurWorkTop p,
  .WhatWeDo .WhatWeDoTop p {
    width: 100%;
  }
  .aboutUsPage img {
    width: 90%;
  }
  .welcomeContent h1:first-of-type {
    font-size: 28px;
  }
  .welcomeContent h1:last-of-type {
    font-size: 38px;
    line-height: 40px;
  }
  .welcomeBottom > .hoveron > p {
    font-size: 9px;
  }
  .welcomeBottom > .hoveron {
    width: 23%;
  }
  .count {
    height: 50%;
  }
  .count .countCenter {
    width: 100%;
  }
  .count .countCenter p:first-of-type {
    font-size: 41px;
  }
  .count .countCenter p:last-of-type {
    font-size: 10px;
  }
  .mainContent {
    margin: 0 auto;
    width: 100%;
  }
  .selection {
    display: none;
  }
  ul {
    display: none;
  }
  .header .logo {
    top: 0;
    left: 0;
  }
  .hoveron {
    margin: 0 auto;
  }
  .header {
    width: 95%;
    display: inline-block;
  }
  .welcomeBottom {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
}
@media screen and (max-width: 395px) and (min-width: 308px) {
  .LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxText p:nth-last-of-type(-n+2) {
    width: 20%;
  }
  .MogoBottomPage .MogoBottomPageContent .MogoBottomLeft input {
    width: 40%;
  }
  .MogoBottomPage .MogoBottomPageContent .MogoBottomLeft button {
    width: 110px;
  }
  .MogoBottomPage .MogoBottomPageContent .Instagram {
    margin-top: 8%;
  }
  .MogoBottomPage .MogoBottomPageContent .Instagram,
  .MogoBottomPage .MogoBottomPageContent .BottomBlogs,
  .MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
    max-width: none;
    max-height: none;
  }
  .MogoBottomPage .MogoBottomPageContent {
    text-align: center;
  }
  .MogoBottomPage .MogoBottomPageContent .Instagram,
  .MogoBottomPage .MogoBottomPageContent .BottomBlogs,
  .MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
    width: 95%;
  }
  .MogoBottomPage .MogoBottomPageContent {
    text-align: center;
  }
  .LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox {
    width: 70%;
  }
  .LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxText p:nth-of-type(2) {
    font-size: 13px;
  }
  .UniqueDesignPage {
    height: 60vh;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:first-of-type {
    height: 400px;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:last-of-type {
    height: 254px;
    margin-top: 180px;
  }
  .WhatPeopleSay .WhatPeopleSayBottom div {
    width: 100%;
  }
  .WhatPeopleSay .WhatPeopleSayBottom div .WhatPeopleSayPhoto {
    text-align: center;
    width: 37%;
  }
  .MeetOurTeam .MeetOurTeamBottom .MeetOurTeamBox {
    width: 80%;
    margin: 0;
  }
  .AmazingServicesPage .AmazingServicesBottom div p:first-of-type {
    font-size: 12px;
  }
  .secondQuote p {
    font-size: 19px;
  }
  .secondQuote .firstQuotePhoto {
    width: 15%;
    text-align: center;
    padding: 25% 0;
    box-sizing: border-box;
  }
  .secondQuote .firstQuotePhoto img {
    width: 100%;
    height: 90%;
  }
  .Removed {
    display: none;
  }
  .hipsterLogos {
    width: 100%;
  }
  .hipsterLogos .hipsterLogosContent {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  .secondQuote h1,
  .firstQuote h1 {
    font-size: 15px;
  }
  .firstQuote .firstQuoteText {
    width: 50%;
    margin: 0;
  }
  .firstQuote .firstQuotePhoto img {
    width: 80%;
  }
  .secondQuote p,
  .firstQuote p {
    font-size: 14px;
    width: 79%;
    line-height: 18px;
  }
  .WhatPeopleSay .WhatPeopleSayBottom,
  .secondQuote .firstQuoteContent,
  .MeetOurTeam .MeetOurTeamBottom,
  .firstQuote .firstQuoteContent,
  .WhatWeDo .WhatWeDoBottom {
    width: 100%;
  }
  .WhatWeDo .WhatWeDoBottom .WhatWeDoBottomRight {
    width: 80%;
  }
  .WhatWeDo .WhatWeDoBottom .WhatWeDoBottom div:first-of-type {
    width: 100%;
  }
  .WhatWeDo .WhatWeDoBottom .WhatWeDo .WhatWeDoBottom div:first-of-type {
    width: 100%;
  }
  .AmazingServicesPage .AmazingServicesBottom div {
    width: 49%;
  }
  .AmazingServicesPage .AmazingServicesBottom {
    width: 94%;
  }
  .AmazingServicesPage .AmazingServicesBottom div:nth-of-type(-n+4) {
    border-bottom: solid 1px #e5e5e5;
  }
  .aboutUsPage img {
    width: 90%;
    margin: 0;
  }
  .aboutUsPage img:last-child {
    width: 90%;
  }
  .secondQuote .firstQuoteContent p,
  .aboutUsPage p,
  .MeetOurTeam .MeetOurTeamTop p,
  .SomeOfOurWork .SomeOfOurWorkTop p,
  .WhatWeDo .WhatWeDoTop p {
    width: 100%;
  }
  .welcomeContent h1:first-of-type {
    font-size: 35px;
  }
  .welcomeContent h1:last-of-type {
    font-size: 50px;
    line-height: 50px;
  }
  .welcomeBottom > .hoveron > p {
    font-size: 10px;
  }
  .count {
    height: 50%;
  }
  .count .countCenter {
    width: 100%;
  }
  .count .countCenter p:first-of-type {
    font-size: 41px;
  }
  .count .countCenter p:last-of-type {
    font-size: 10px;
  }
  .mainContent {
    margin: 0 auto;
    width: 100%;
  }
  .selection {
    display: none;
  }
  ul {
    display: none;
  }
  .header .logo {
    top: 0;
    left: 0;
  }
  .hoveron {
    margin: 0 auto;
  }
  .header {
    width: 95%;
    display: inline-block;
  }
  .welcomeBottom {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
}
@media screen and (max-width: 485px) and (min-width: 395px) {
  .LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxText p:nth-last-of-type(-n+2) {
    width: 20%;
  }
  .MogoBottomPage .MogoBottomPageContent .Instagram {
    margin-top: 8%;
  }
  .MogoBottomPage .MogoBottomPageContent .BottomBlogs,
  .MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
    max-width: none;
    max-height: none;
  }
  .MogoBottomPage .MogoBottomPageContent {
    text-align: center;
  }
  .MogoBottomPage .MogoBottomPageContent .Instagram,
  .MogoBottomPage .MogoBottomPageContent .BottomBlogs,
  .MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
    width: 95%;
  }
  .MogoBottomPage .MogoBottomPageContent {
    text-align: center;
  }
  .LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox {
    width: 50%;
  }
  .LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxText p:nth-of-type(2) {
    font-size: 13px;
  }
  .UniqueDesignPage {
    height: 60vh;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:first-of-type {
    height: 450px;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:last-of-type {
    height: 254px;
    margin-top: 180px;
  }
  .WhatPeopleSay .WhatPeopleSayBottom div {
    width: 100%;
  }
  .WhatPeopleSay .WhatPeopleSayBottom div .WhatPeopleSayPhoto {
    text-align: center;
    width: 37%;
  }
  .MeetOurTeam .MeetOurTeamBottom .MeetOurTeamBox {
    width: 80%;
    margin: 0;
  }
  .secondQuote p {
    font-size: 19px;
  }
  .secondQuote .firstQuotePhoto {
    width: 15%;
    text-align: center;
    padding: 17% 0;
    box-sizing: border-box;
  }
  .secondQuote .firstQuotePhoto img {
    width: 100%;
    height: 90%;
  }
  .Removed {
    display: none;
  }
  .hipsterLogos {
    width: 100%;
  }
  .hipsterLogos .hipsterLogosContent {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  .secondQuote h1,
  .firstQuote h1 {
    font-size: 15px;
  }
  .firstQuote .firstQuotePhoto img {
    width: 90%;
  }
  .firstQuote .firstQuoteText {
    width: 50%;
  }
  .secondQuote p,
  .firstQuote p {
    font-size: 14px;
    width: 88%;
    line-height: 30px;
  }
  .WhatPeopleSay .WhatPeopleSayBottom,
  .secondQuote .firstQuoteContent,
  .MeetOurTeam .MeetOurTeamBottom,
  .firstQuote .firstQuoteContent,
  .WhatWeDo .WhatWeDoBottom {
    width: 100%;
  }
  .WhatWeDo .WhatWeDoBottom .WhatWeDoBottomRight {
    width: 80%;
  }
  .WhatWeDo .WhatWeDoBottom .WhatWeDoBottom div:first-of-type {
    width: 100%;
  }
  .WhatWeDo .WhatWeDoBottom .WhatWeDo .WhatWeDoBottom div:first-of-type {
    width: 100%;
  }
  .AmazingServicesPage .AmazingServicesBottom div {
    width: 49%;
  }
  .AmazingServicesPage .AmazingServicesBottom {
    width: 90%;
  }
  .AmazingServicesPage .AmazingServicesBottom div:nth-of-type(-n+4) {
    border-bottom: solid 1px #e5e5e5;
  }
  .count {
    height: 50%;
  }
  .count .countCenter {
    width: 100%;
  }
  .count .countCenter p:first-of-type {
    font-size: 41px;
  }
  .count .countCenter p:last-of-type {
    font-size: 10px;
  }
  .secondQuote .firstQuoteContent p,
  .aboutUsPage p,
  .MeetOurTeam .MeetOurTeamTop p,
  .SomeOfOurWork .SomeOfOurWorkTop p,
  .WhatWeDo .WhatWeDoTop p {
    width: 100%;
  }
  .welcomeContent h1:first-of-type {
    font-size: 40px;
  }
  .welcomeContent h1:last-of-type {
    font-size: 65px;
    line-height: 65px;
  }
  .welcomeBottom > .hoveron > p {
    font-size: 10px;
  }
  .mainContent {
    margin: 0 auto;
    width: 100%;
  }
  .selection {
    display: none;
  }
  ul {
    display: none;
  }
  .header .logo {
    top: 0;
    left: 0;
  }
  .hoveron {
    margin: 0 auto;
  }
  .header {
    width: 95%;
    display: inline-block;
  }
  .welcomeBottom {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
}
@media screen and (max-width: 550px) and (min-width: 485px) {
  .LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxText p:nth-last-of-type(-n+2) {
    width: 20%;
  }
  .MogoBottomPage .MogoBottomPageContent .Instagram {
    margin-top: 8%;
  }
  .MogoBottomPage .MogoBottomPageContent .BottomBlogs,
  .MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
    max-width: none;
    max-height: none;
  }
  .MogoBottomPage .MogoBottomPageContent {
    text-align: center;
  }
  .MogoBottomPage .MogoBottomPageContent .Instagram,
  .MogoBottomPage .MogoBottomPageContent .BottomBlogs,
  .MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
    width: 95%;
  }
  .MogoBottomPage .MogoBottomPageContent {
    text-align: center;
  }
  .LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox {
    width: 50%;
  }
  .LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxText p:nth-of-type(2) {
    font-size: 13px;
  }
  .UniqueDesignPage {
    height: 65vh;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:first-of-type {
    height: 450px;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:last-of-type {
    height: 254px;
    margin-top: 180px;
  }
  .WhatPeopleSay .WhatPeopleSayBottom div {
    width: 100%;
  }
  .WhatPeopleSay .WhatPeopleSayBottom div .WhatPeopleSayPhoto {
    text-align: center;
  }
  .MeetOurTeam .MeetOurTeamBottom .MeetOurTeamBox {
    display: block;
    margin: 0 auto;
  }
  p {
    font-size: 19px;
  }
  .firstQuotePhoto {
    text-align: center;
    padding: 9% 0;
    box-sizing: border-box;
  }
  .firstQuotePhoto img {
    width: 100%;
    height: 90%;
  }
  .firstQuote .firstQuoteText {
    width: 50%;
  }
  .hipsterLogos {
    width: 100%;
  }
  .hipsterLogos .hipsterLogosContent {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  .secondQuote h1,
  .firstQuote h1 {
    font-size: 15px;
  }
  .secondQuote .firstQuoteContent {
    height: 100%;
  }
  .secondQuote .firstQuotePhoto {
    width: 20%;
    height: 100%;
  }
  .secondQuote p,
  .firstQuote p {
    font-size: 14px;
    width: 88%;
    line-height: 30px;
  }
  .WhatPeopleSay .WhatPeopleSayBottom,
  .secondQuote .firstQuoteContent,
  .MeetOurTeam .MeetOurTeamBottom,
  .firstQuote .firstQuoteContent,
  .WhatWeDo .WhatWeDoBottom {
    width: 100%;
  }
  .AmazingServicesPage .AmazingServicesBottom div {
    width: 49%;
  }
  .AmazingServicesPage .AmazingServicesBottom {
    width: 90%;
  }
  .AmazingServicesPage .AmazingServicesBottom div:nth-of-type(-n+4) {
    border-bottom: solid 1px #e5e5e5;
  }
  .count {
    height: 50%;
  }
  .count .countCenter {
    width: 100%;
  }
  .count .countCenter p:first-of-type {
    font-size: 41px;
  }
  .count .countCenter p:last-of-type {
    font-size: 10px;
  }
  .secondQuote .firstQuoteContent p,
  .aboutUsPage p,
  .MeetOurTeam .MeetOurTeamTop p,
  .SomeOfOurWork .SomeOfOurWorkTop p,
  .WhatWeDo .WhatWeDoTop p {
    width: 100%;
  }
  .welcomeContent h1:first-of-type {
    font-size: 50px;
  }
  .welcomeContent h1:last-of-type {
    font-size: 80px;
    line-height: 65px;
  }
  .welcomeBottom > .hoveron > p {
    font-size: 15px;
  }
  .mainContent {
    margin: 0 auto;
    width: 100%;
  }
  .selection {
    display: none;
  }
  ul {
    display: none;
  }
  .header .logo {
    top: 0;
    left: 0;
  }
  .hoveron {
    margin: 0 auto;
  }
  .header {
    width: 95%;
    display: inline-block;
  }
  .welcomeBottom {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
}
@media screen and (max-width: 609px) and (min-width: 550px) {
  .LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxText p:nth-last-of-type(-n+2) {
    width: 20%;
  }
  .MogoBottomPage .MogoBottomPageContent .Instagram {
    margin-top: 8%;
  }
  .MogoBottomPage .MogoBottomPageContent .BottomBlogs,
  .MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
    max-width: none;
    max-height: none;
  }
  .MogoBottomPage .MogoBottomPageContent {
    text-align: center;
  }
  .MogoBottomPage .MogoBottomPageContent .Instagram,
  .MogoBottomPage .MogoBottomPageContent .BottomBlogs,
  .MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
    width: 95%;
  }
  .MogoBottomPage .MogoBottomPageContent {
    text-align: center;
  }
  .MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
    width: 49%;
  }
  .LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox {
    width: 50%;
  }
  .LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxText p:nth-of-type(2) {
    font-size: 13px;
  }
  .UniqueDesignPage {
    height: 65vh;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:first-of-type {
    height: 550px;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:last-of-type {
    height: 354px;
    margin-top: 170px;
  }
  .WhatPeopleSay .WhatPeopleSayBottom div {
    width: 100%;
  }
  .WhatPeopleSay .WhatPeopleSayBottom div .WhatPeopleSayPhoto {
    text-align: center;
  }
  .MeetOurTeam .MeetOurTeamBottom .MeetOurTeamBox {
    display: block;
    margin: 0 auto;
  }
  .secondQuote p {
    font-size: 19px;
  }
  .secondQuote .firstQuotePhoto {
    width: 15%;
    text-align: center;
    padding: 11% 0;
    box-sizing: border-box;
  }
  .secondQuote .firstQuotePhoto img {
    width: 100%;
    height: 90%;
  }
  .hipsterLogos {
    width: 100%;
  }
  .hipsterLogos .hipsterLogosContent {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  .firstQuote h1 {
    font-size: 15px;
  }
  .firstQuote .firstQuoteText {
    margin-left: 1%;
    width: 60%;
  }
  .firstQuote p {
    font-size: 14px;
    width: 88%;
    line-height: 30px;
  }
  .WhatPeopleSay .WhatPeopleSayBottom,
  .secondQuote .firstQuoteContent,
  .MeetOurTeam .MeetOurTeamBottom,
  .firstQuote .firstQuoteContent,
  .WhatWeDo .WhatWeDoBottom {
    width: 100%;
  }
  .AmazingServicesPage .AmazingServicesBottom div {
    width: 49%;
  }
  .AmazingServicesPage .AmazingServicesBottom {
    width: 90%;
  }
  .AmazingServicesPage .AmazingServicesBottom div:nth-of-type(-n+4) {
    border-bottom: solid 1px #e5e5e5;
  }
  .count .countCenter {
    width: 100%;
  }
  .secondQuote .firstQuoteContent p,
  .aboutUsPage p,
  .MeetOurTeam .MeetOurTeamTop p,
  .SomeOfOurWork .SomeOfOurWorkTop p,
  .WhatWeDo .WhatWeDoTop p {
    width: 100%;
    height: 200px;
  }
  .welcomeContent h1:first-of-type {
    font-size: 70px;
    line-height: 95px;
  }
  .welcomeContent h1:last-of-type {
    font-size: 90px;
    line-height: 95px;
  }
  .welcomeBottom > .hoveron > p {
    font-size: 15px;
  }
  .mainContent {
    margin: 0 auto;
    width: 100%;
  }
  .selection {
    display: none;
  }
  ul {
    display: none;
  }
  .header .logo {
    top: 0;
    left: 0;
  }
  .hoveron {
    margin: 0 auto;
  }
  .header {
    width: 95%;
    display: inline-block;
  }
  .welcomeBottom {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
}
@media screen and (max-width: 714px) and (min-width: 609px) {
  .MogoBottomPage .MogoBottomPageContent .Instagram {
    margin-top: 8%;
  }
  .MogoBottomPage .MogoBottomPageContent .BottomBlogs,
  .MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
    max-width: none;
    max-height: none;
  }
  .MogoBottomPage .MogoBottomPageContent {
    text-align: center;
  }
  .MogoBottomPage .MogoBottomPageContent .Instagram,
  .MogoBottomPage .MogoBottomPageContent .BottomBlogs,
  .MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
    width: 80%;
  }
  .MogoBottomPage .MogoBottomPageContent {
    text-align: center;
  }
  .MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
    width: 49%;
  }
  .LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox {
    width: 50%;
  }
  .LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxText p:nth-of-type(2) {
    font-size: 13px;
  }
  .UniqueDesignPage {
    height: 70vh;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:first-of-type {
    height: 550px;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:last-of-type {
    height: 354px;
    margin-top: 170px;
  }
  .WhatPeopleSay .WhatPeopleSayBottom div {
    width: 100%;
  }
  .WhatPeopleSay .WhatPeopleSayBottom div .WhatPeopleSayPhoto {
    text-align: center;
  }
  .MeetOurTeam .MeetOurTeamBottom .MeetOurTeamBox {
    display: block;
    margin: 0 auto;
  }
  .secondQuote p {
    font-size: 19px;
  }
  .secondQuote .firstQuotePhoto {
    width: 15%;
    text-align: center;
    padding: 11% 0;
    box-sizing: border-box;
  }
  .secondQuote .firstQuotePhoto img {
    width: 100%;
    height: 90%;
  }
  .hipsterLogos {
    width: 100%;
  }
  .hipsterLogos .hipsterLogosContent {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  .firstQuote p {
    width: 88%;
  }
  .WhatPeopleSay .WhatPeopleSayBottom,
  .secondQuote .firstQuoteContent,
  .MeetOurTeam .MeetOurTeamBottom,
  .firstQuote .firstQuoteContent,
  .WhatWeDo .WhatWeDoBottom {
    width: 100%;
  }
  .AmazingServicesPage .AmazingServicesBottom div {
    width: 49%;
  }
  .AmazingServicesPage .AmazingServicesBottom {
    width: 90%;
  }
  .AmazingServicesPage .AmazingServicesBottom div:nth-of-type(-n+4) {
    border-bottom: solid 1px #e5e5e5;
  }
  .count .countCenter td {
    font-size: 9px;
  }
  .count .countCenter {
    width: 100%;
  }
  .secondQuote .firstQuoteContent p,
  .aboutUsPage p,
  .MeetOurTeam .MeetOurTeamTop p,
  .SomeOfOurWork .SomeOfOurWorkTop p,
  .WhatWeDo .WhatWeDoTop p {
    width: 100%;
  }
  .welcomeContent h1:last-of-type {
    font-size: 100px;
    line-height: 95px;
  }
  .welcomeBottom > .hoveron > p {
    font-size: 15px;
  }
  .mainContent {
    margin: 0 auto;
    width: 100%;
  }
  .selection {
    display: none;
  }
  ul {
    display: none;
  }
  .header .logo {
    top: 0;
    left: 0;
  }
  .hoveron {
    margin: 0 auto;
  }
  .header {
    width: 95%;
    display: inline-block;
  }
  .welcomeBottom {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
}
@media screen and (max-width: 974px) and (min-width: 714px) {
  .MogoBottomPage .MogoBottomPageContent {
    text-align: center;
  }
  .MogoBottomPage .MogoBottomPageContent .Instagram,
  .MogoBottomPage .MogoBottomPageContent .BottomBlogs,
  .MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
    width: 50%;
  }
  .MogoBottomPage .MogoBottomPageContent {
    text-align: center;
  }
  .MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
    width: 49%;
  }
  .LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox {
    width: 45%;
  }
  .LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxText p:nth-of-type(2) {
    font-size: 13px;
  }
  .UniqueDesignPage {
    height: 75vh;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:first-of-type {
    height: 550px;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:last-of-type {
    height: 354px;
    margin-top: 170px;
  }
  .WhatPeopleSay .WhatPeopleSayBottom div {
    width: 100%;
  }
  .WhatPeopleSay .WhatPeopleSayBottom div .WhatPeopleSayPhoto {
    text-align: center;
  }
  .secondQuote p {
    font-size: 19px;
  }
  .secondQuote .firstQuotePhoto {
    width: 15%;
    text-align: center;
    padding: 8% 0;
    box-sizing: border-box;
  }
  .secondQuote .firstQuotePhoto img {
    width: 100%;
    height: 90%;
  }
  .hipsterLogos {
    width: 100%;
  }
  .hipsterLogos .hipsterLogosContent {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  .WhatPeopleSay .WhatPeopleSayBottom,
  .secondQuote .firstQuoteContent,
  .MeetOurTeam .MeetOurTeamBottom,
  .firstQuote .firstQuoteContent,
  .WhatWeDo .WhatWeDoBottom {
    width: 100%;
  }
  .AmazingServicesPage .AmazingServicesBottom {
    width: 90%;
  }
  .count .countCenter td {
    font-size: 11px;
  }
  .count .countCenter {
    width: 100%;
  }
  .secondQuote .firstQuoteContent p,
  .aboutUsPage p,
  .MeetOurTeam .MeetOurTeamTop p,
  .SomeOfOurWork .SomeOfOurWorkTop p,
  .WhatWeDo .WhatWeDoTop p {
    width: 100%;
  }
  .welcomeContent h1:last-of-type {
    font-size: 120px;
  }
  .welcomeBottom > .hoveron > p {
    font-size: 20px;
  }
  .mainContent {
    margin: 0 auto;
    width: 100%;
  }
  .selection {
    display: none;
  }
  ul {
    display: none;
  }
  .header .logo {
    top: 0;
    left: 0;
  }
  .hoveron {
    margin: 0 auto;
  }
  .header {
    width: 95%;
    display: inline-block;
  }
  .welcomeBottom {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
}
@media only screen and (max-width: 2685px) and (min-width: 2240px) {
  .welcomeContent h1:last-of-type {
    font-size: 190px;
  }
}
@media only screen and (max-width: 2240px) and (min-width: 1911px) {
  .welcomeContent h1:last-of-type {
    font-size: 180px;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 975px) {
  .mainContent {
    margin: 0 auto;
    width: 100%;
  }
  .selection {
    display: none;
  }
  ul {
    display: none;
  }
  .header .logo {
    top: 0;
    left: 0;
  }
  .hoveron {
    margin: 0 auto;
  }
  .header {
    width: 95%;
    display: inline-block;
  }
  .welcomeBottom {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  .MogoBottomPage .MogoBottomPageContent {
    text-align: center;
  }
  .MogoBottomPage .MogoBottomPageContent .Instagram,
  .MogoBottomPage .MogoBottomPageContent .BottomBlogs,
  .MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
    width: 48%;
  }
  .LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxText p:nth-of-type(2) {
    font-size: 13px;
  }
  .UniqueDesignPage {
    height: 80vh;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:first-of-type {
    height: 550px;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:last-of-type {
    height: 400px;
    margin-top: 180px;
  }
  .hipsterLogos {
    width: 100%;
  }
  .hipsterLogos .hipsterLogosContent {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  .WhatPeopleSay .WhatPeopleSayBottom,
  .secondQuote .firstQuoteContent,
  .MeetOurTeam .MeetOurTeamBottom,
  .firstQuote .firstQuoteContent,
  .WhatWeDo .WhatWeDoBottom {
    width: 100%;
  }
  .AmazingServicesPage .AmazingServicesBottom {
    width: 90%;
  }
  .count .countCenter {
    width: 100%;
  }
}
@media only screen and (max-width: 3760px) and (min-width: 2000px) and (max-height: 1764px) and (min-height: 1200px) {
  .mainContent {
    margin: 0 auto;
    width: 100%;
  }
  .selection {
    display: none;
  }
  ul {
    display: none;
  }
  .header .logo {
    top: 0;
    left: 0;
  }
  .hoveron {
    margin: 0 auto;
  }
  .header {
    width: 95%;
    display: inline-block;
  }
  .welcomeBottom {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  .UniqueDesignPage {
    height: 100vh;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:first-of-type {
    height: 1655px;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:last-of-type {
    height: 1000px;
    margin-top: 550px;
  }
}
@media only screen and (max-width: 2000px) and (min-width: 1200px) and (max-height: 1764px) and (min-height: 1200px) {
  .mainContent {
    margin: 0 auto;
    width: 100%;
  }
  .selection {
    display: none;
  }
  ul {
    display: none;
  }
  .header .logo {
    top: 0;
    left: 0;
  }
  .hoveron {
    margin: 0 auto;
  }
  .header {
    width: 95%;
    display: inline-block;
  }
  .welcomeBottom {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  .UniqueDesignPage {
    height: 100vh;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:first-of-type {
    height: 1700px;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:last-of-type {
    height: 1000px;
    margin-top: 700px;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 800px) and (max-height: 1764px) and (min-height: 1200px) {
  .mainContent {
    margin: 0 auto;
    width: 100%;
  }
  .selection {
    display: none;
  }
  ul {
    display: none;
  }
  .header .logo {
    top: 0;
    left: 0;
  }
  .hoveron {
    margin: 0 auto;
  }
  .header {
    width: 95%;
    display: inline-block;
  }
  .welcomeBottom {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  .UniqueDesignPage {
    height: 100vh;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos {
    padding-top: 700px;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:first-of-type {
    height: 1000px;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:last-of-type {
    height: 700px;
    margin-top: 350px;
  }
}
@media only screen and (max-width: 800px) and (min-width: 400px) and (max-height: 1764px) and (min-height: 1200px) {
  .mainContent {
    margin: 0 auto;
    width: 100%;
  }
  .selection {
    display: none;
  }
  ul {
    display: none;
  }
  .header .logo {
    top: 0;
    left: 0;
  }
  .hoveron {
    margin: 0 auto;
  }
  .header {
    width: 95%;
    display: inline-block;
  }
  .welcomeBottom {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  .UniqueDesignPage {
    height: 75vh;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos {
    padding-top: 700px;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:last-of-type {
    margin-top: 200px;
  }
}
@media only screen and (max-width: 400px) and (min-width: 280px) and (max-height: 1764px) and (min-height: 1200px) {
  .mainContent {
    margin: 0 auto;
    width: 100%;
  }
  .selection {
    display: none;
  }
  ul {
    display: none;
  }
  .header .logo {
    top: 0;
    left: 0;
  }
  .hoveron {
    margin: 0 auto;
  }
  .header {
    width: 95%;
    display: inline-block;
  }
  .welcomeBottom {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos {
    padding-top: 500px;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:last-of-type {
    margin-top: 200px;
  }
}
@media only screen and (max-width: 2506px) and (min-width: 2000px) and (max-height: 1200px) and (min-height: 900px) {
  .mainContent {
    margin: 0 auto;
    width: 100%;
  }
  .selection {
    display: none;
  }
  ul {
    display: none;
  }
  .header .logo {
    top: 0;
    left: 0;
  }
  .hoveron {
    margin: 0 auto;
  }
  .header {
    width: 95%;
    display: inline-block;
  }
  .welcomeBottom {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  .UniqueDesignPage {
    height: 100vh;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:first-of-type {
    height: 955px;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:last-of-type {
    height: 600px;
    margin-top: 350px;
  }
}
@media only screen and (max-width: 2000px) and (min-width: 1200px) and (max-height: 1200px) and (min-height: 900px) {
  .mainContent {
    margin: 0 auto;
    width: 100%;
  }
  .selection {
    display: none;
  }
  ul {
    display: none;
  }
  .header .logo {
    top: 0;
    left: 0;
  }
  .hoveron {
    margin: 0 auto;
  }
  .header {
    width: 95%;
    display: inline-block;
  }
  .welcomeBottom {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  .UniqueDesignPage {
    height: 100vh;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos {
    padding-top: 200px;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:first-of-type {
    height: 955px;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:last-of-type {
    height: 600px;
    margin-top: 350px;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 800px) and (max-height: 1200px) and (min-height: 900px) {
  .mainContent {
    margin: 0 auto;
    width: 100%;
  }
  .selection {
    display: none;
  }
  ul {
    display: none;
  }
  .header .logo {
    top: 0;
    left: 0;
  }
  .hoveron {
    margin: 0 auto;
  }
  .header {
    width: 95%;
    display: inline-block;
  }
  .welcomeBottom {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  .UniqueDesignPage {
    height: 100vh;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos {
    padding-top: 200px;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:first-of-type {
    height: 955px;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:last-of-type {
    height: 600px;
    margin-top: 350px;
  }
}
@media only screen and (max-width: 800px) and (min-width: 500px) and (max-height: 1200px) and (min-height: 900px) {
  .mainContent {
    margin: 0 auto;
    width: 100%;
  }
  .selection {
    display: none;
  }
  ul {
    display: none;
  }
  .header .logo {
    top: 0;
    left: 0;
  }
  .hoveron {
    margin: 0 auto;
  }
  .header {
    width: 95%;
    display: inline-block;
  }
  .welcomeBottom {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  .UniqueDesignPage {
    height: 75vh;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos {
    padding-top: 200px;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:first-of-type {
    height: 670px;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:last-of-type {
    height: 450px;
    margin-top: 150px;
  }
}
@media only screen and (max-width: 500px) and (min-width: 310px) and (max-height: 1200px) and (min-height: 900px) {
  .mainContent {
    margin: 0 auto;
    width: 100%;
  }
  .selection {
    display: none;
  }
  ul {
    display: none;
  }
  .header .logo {
    top: 0;
    left: 0;
  }
  .hoveron {
    margin: 0 auto;
  }
  .header {
    width: 95%;
    display: inline-block;
  }
  .welcomeBottom {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos {
    padding-top: 120px;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:last-of-type {
    margin-top: 180px;
  }
}
@media only screen and (max-width: 310px) and (max-height: 1200px) and (min-height: 900px) {
  .mainContent {
    margin: 0 auto;
    width: 100%;
  }
  .selection {
    display: none;
  }
  ul {
    display: none;
  }
  .header .logo {
    top: 0;
    left: 0;
  }
  .hoveron {
    margin: 0 auto;
  }
  .header {
    width: 95%;
    display: inline-block;
  }
  .welcomeBottom {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos {
    padding-top: 30px;
  }
  .UniqueDesignPage .UniqueDesignContent .UniqueDesignPhotos img:last-of-type {
    margin-top: 130px;
  }
}/*# sourceMappingURL=FinalStyle.css.map */