html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

//reset_end

@font-face {
	font-family: 'Montserrat';
	src: url('./Fonts/static/Montserrat-VariableFont_wght.ttf');
}

@font-face {
	font-family: 'Kaushan';
	src: url('./Fonts/static/KaushanScript-Regular.ttf');
}

@font-face {
	font-family: 'Roboto';
	src: url('./Fonts/static/Roboto-Regular.ttf');
}

$Montserrat: 'Montserrat';
$Kaushan: 'Kaushan';
$Roboto: 'Roboto';

@mixin firstH1 {
	font-size: 24px;
	color: #333333;
	font-weight: 400;
	font-family: $Kaushan;
	text-align: center;
	margin-bottom: 20px;
}

@mixin secondH1 {
	font-size: 30px;
	text-transform: uppercase;
	color: #333333;
	font-weight: 700;
	font-family: 'Montserrat';
	text-align: center;
	margin-bottom: 40px;
}

@mixin paragraph {
	width: 960px;
	height: 130px;
	font-size: 15px;
	line-height: 24px;
	color: #999999;
	font-weight: 400;
	font-family: $Roboto;
	text-align: center;
	display: inline-block;
}

@mixin pageLayout {
	text-align: center;
	padding: 100px 0;
	width: 100%;
}

@mixin defaultMediaValues {
	.mainContent {
		margin: 0 auto;
		width: 100%;
	}
.selection{
	display: none;
}
	ul {
		display: none;
	}

	.header .logo {
		top: 0;
		left: 0;
	}

	.hoveron {
		margin: 0 auto;
	}

	.header {
		width: 95%;
		display: inline-block;
	}

	.welcomeBottom {
		text-align: center;
		margin: 0 auto;
		width: 100%;
	}
}

.welcome {
	background-image: url('./Photos/WelcomePage/TopBackground.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
	height: 100vh;
	width: 100%;
	box-sizing: border-box;
}

.mainContent {
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: right;
}

li {
	display: inline;
}

.header {
	width: 95%;
	margin: 0 auto;
	padding: 2%;
	display: inline-block;
}

.header .selection {
	display: inline-block;
	font-family: $Montserrat;
	font-size: 14px;
	color: white;
	font-weight: 400;
	vertical-align: bottom;
	margin: 0 15px;
}

.selection:hover {
	color: #fce38a;
	font-weight: 600;
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-position: under;
}

.header img:not(img:first-of-type) {
	margin: 0 15px;
	vertical-align: bottom;

}

.header .logo {
	text-align: left;
	width: 90px;
	display: inline-block;
	vertical-align: bottom;


	img {
		width: 100%;
	}
}
li{
	img{
		margin: 0 15px;
	}
}

.header .selections {
	display: inline-block;
	width: 89%;
	text-align: right;

}

.header div {
	width: 95%;
	display: inline-block;
}

.welcomeContent {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.welcomeContent h1:first-child {
	font-family: $Kaushan;
	font-size: 72px;
	font-weight: 400;
}

.welcomeContent h1:last-of-type {
	font-family: $Montserrat;
	font-size: 142px;
	text-transform: uppercase;
	line-height: 140px;
	font-weight: 700;
	margin-top: 32px;
}

.numbers {
	opacity: 1;
	font-weight: 700;
}

.welcomeContent h1 {
	display: block;
	margin: 0;
	color: #ffffff;
}

.welcomeContent img,
button {
	display: block;
	margin: 50px auto;
}

.welcomeContent img {
	margin-top: 70px;
}

.welcomeContent button {
	font-size: 14px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 700;
	font-family: 'Montserrat';
	text-align: center;
	width: 160px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0);
	border: 3px solid #ffffff;
}

.welcomeBottom {
	box-sizing: border-box;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	position: absolute;
	max-width: 1200px;
	width: 100%;

	>.hoveron {
		display: inline-block;
		width: 22%;
		text-align: left;
		margin: 0 1%;

		>.welcomeline {
			width: 100%;
			margin: 0;
			height: 3px;
			opacity: 0.502;
			background-color: #ffffff;

			>.welcomeLine2 {
				background-color: #ffffff;
				opacity: 0;
				width: 10%;
				height: 3px;
				transition: width 2s ease;
			}
		}

		>p {
			font-family: $Montserrat;
			font-size: 24px;
			text-transform: uppercase;
			font-weight: 400;
			color: #ffffff;
			margin: 20px 0;
			box-sizing: border-box;
			opacity: 0.702;
		}

		&:hover p {
			opacity: 1;
			font-weight: 700;
		}

		&:hover .welcomeline .welcomeLine2 {
			transition-timing-function: ease;
			background-color: #f38181;
			width: 100%;
			opacity: 1;
		}
	}
}

.aboutUsPage h1:first-of-type {
	@include firstH1();
	margin-bottom: 20px;
}

.aboutUsPage h1:last-of-type {
	@include secondH1();
	margin-bottom: 40px;
}

.aboutUsPage {
	@include pageLayout();

}

.aboutUsPage p {
	@include paragraph();
	display: inline-block;
}

.line {
	width: 60px;
	height: 3px;
	background-color: #f38181;
	display: block;
	margin: 44px auto;
}

.aboutUsPhotos {
	max-width: 1200px;
	margin: 0 auto;
}

.aboutUsPhotosBack {
	position: relative;
	display: inline-block;
	height: 250px;
	margin: 1%;
	box-sizing: border-box;
}

.aboutUsPhotosBack img {
	height: 100%;
	width: 370px;
	transition: box-shadow 0.3s ease-in-out;
}

.aboutUsPhotosBack img:first-of-type {
	position: absolute;
	top: 0;
	opacity: 0;
}

.aboutUsPhotosBack:hover img:first-of-type {
	opacity: 0.908;
}

.aboutUsPhotosBack:hover img:last-of-type {
	-webkit-box-shadow: 10px 10px 5px #95e1d3;
	box-shadow: 10px 10px 5px #95e1d3;
}

.count {
	width: 100%;
	height: 270px;
	background-color: #95e1d3;
	box-sizing: border-box;
	margin: 0 auto;
}

.count .countCenter {
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;
	width: 100%;

	tr {
		text-align: center;
	}

	td {
		border: solid 1px rgba(255, 255, 255, 0.302);
		vertical-align: middle;
		width: 19%;
	}

	p:first-of-type {
		font-size: 72px;
		text-transform: uppercase;
		color: white;
		font-weight: 700;
		font-family: $Montserrat;
		text-align: center;
		display: block;
		margin-bottom: 28px;
	}

	p:last-of-type {
		font-family: $Montserrat;
		color: white;
		font-size: 14px;
		text-align: center;
		text-transform: uppercase;
	}
}

.AmazingServicesPage {
	@include pageLayout();

	h1:first-of-type {
		@include firstH1();
	}

	h1:last-of-type {
		@include secondH1();
	}

	.AmazingServicesBottom {
		display: inline-block;
		max-width: 1200px;

		div:nth-of-type(-n + 3) {
			border-bottom: solid 1px #e5e5e5;
		}

		div {
			display: inline-block;
			width: 32%;
			text-align: left;
			padding: 25px 0;

			p:first-of-type {
				font-size: 14px;
				text-transform: uppercase;
				color: #333333;
				font-weight: 500;
				font-family: $Montserrat;
				margin-bottom: 15px;
			}

			p:last-of-type {
				font-size: 15px;
				line-height: 24px;
				color: #999999;
				font-weight: 400;
				font-family: $Roboto;
				margin-left: 14%;
			}

			p {
				width: 70%;
				display: inline-block;
				margin-left: 5%;
			}

			img {
				display: inline-block;
				vertical-align: bottom;
			}
		}
	}
}

.UniqueDesignPage {
	background-image: url('./Photos/UniqueDesignPage/UniqueDesignBackground1.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;


	@include pageLayout();
	padding-bottom: 0;

	.UniqueDesignContent {
		box-sizing: border-box;
		height: 100%;
		overflow: hidden;

		h1:first-of-type {
			position: relative;
			@include firstH1();
		}

		h1:last-of-type {
			@include secondH1();
		}

		.UniqueDesignPhotos {
			overflow: hidden;
			padding-top: 7%;
			max-width: 1200px;
			margin: 0 auto;
			vertical-align: bottom;
			img:first-of-type {
				
				height: 700px;
				overflow: hidden;
				vertical-align: bottom;
			}

			img:last-of-type {
				height: 437px;
				position: absolute;
				vertical-align: bottom;
				left: 56%;
				margin-top: 250px
			}
		}


	}

}

.WhatWeDo {
	@include pageLayout();
	

	.WhatWeDoTop {
		h1:first-of-type {
			@include firstH1();
		}

		h1:last-of-type {
			@include secondH1();
		}

		p {
			display: inline-block;
			@include paragraph();
		}
	}

	.WhatWeDoBottom {
		max-width: 1200px;
		margin: 0 auto;

		div:first-of-type {
			min-width: 270px;
		}

		div {
			width: 49%;
			display: inline-block;

			img {
				width: 100%;

			}
		}

		.WhatWeDoBottomRight {
			vertical-align: top;
			text-align: right;

			.accordion {
				display: inline-block;
				font-size: 14px;
				text-transform: uppercase;
				color: #333333;
				font-weight: 400;
				min-width: 198px;
				font-family: $Montserrat;
				vertical-align: middle;
				background-color: white;
				color: #444;
				cursor: pointer;
				padding: 18px;
				width: 100.3%;
				border: 1px solid #e5e5e5;
				text-align: left;
				outline: none;
				font-size: 15px;
				margin: 0;

				p {
					width: 50%;
					display: inline-block;
					vertical-align: middle;
					margin-left: 16px;
				}

				img {
					vertical-align: middle;
					width: 30px;
					height: 30px;
				}

			}

			.active,
			.accordion:hover {
				background-color: white;
				border: 1px solid #e5e5e5;
			}

			.panel {
				display: none;
				overflow: auto;
				width: 94%;
				min-width: 198px;
				text-align: left;
				font-size: 15px;
				line-height: 24px;
				color: #999999;
				font-weight: 300;
				font-style: italic;
				font-family: $Roboto;
				border: 1px solid #e5e5e5;
				padding: 3%;
				height: 135px;
			}

		}
	}
}

.firstQuote {
	@include pageLayout();
	background-color: #f8f8f8;
	height: 290px;
	box-sizing: border-box;
	padding: 70px 0;
	vertical-align: middle;
	height: 100%;

	.firstQuoteContent {
		position: relative;
		max-width: 1200px;
		display: inline-block;
		text-align: left;
		box-sizing: border-box;
		width: 100%;
	}

	.arrow1 {
		width: 10%;
		display: inline-block;
		text-align: left;
	}

	.firstQuotePhoto {

		height: 100%;
		display: inline-block;
		margin-left: 10%;
	}

	p {
		display: inline-block;
		width: 100%;
		font-size: 24px;
		line-height: 36px;
		color: #999999;
		font-weight: 300;
		font-style: italic;
		font-family: $Roboto;
	}

	.arrow2 {
		width: 10%;
		display: inline-block;
		text-align: right;
		right: 0;
	}

	.line {
		margin: 0;
		display: inline-block;

	}

	h1 {
		@include firstH1();
		margin: 0;
		text-align: left;
		width: 20%;
		display: inline-block;
	}

	.firstQuoteText {
		width: 65%;
		display: inline-block;
		margin-left: 5%;

		h1 {
			margin-top: 3%;
			width: 50%;
		}
	}
}

.firstQuoteText,
.arrow1,
.arrow2 {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.MeetOurTeam {
	@include pageLayout();

	.MeetOurTeamTop {
		h1:first-of-type {
			@include firstH1();
		}

		h1:last-of-type {
			@include secondH1();
		}

		p {
			@include paragraph();
		}
	}

	.MeetOurTeamBottom div:hover .gradiant {
		opacity: 0.908;
		-webkit-box-shadow: 10px 10px 5px #95e1d3;
		box-shadow: 10px 10px 5px #95e1d3;
	}

	.MeetOurTeamBottom .MeetOurTeamBox .MeetOurTeamPhotos:hover .SocialMedia {
		opacity: 1;
	}


	.MeetOurTeamBottom {
		max-width: 1200px;
		margin: 0 auto;
		position: relative;



		.MeetOurTeamBox {
			margin: 0 15px;
			width: 30%;
			display: inline-block;
			position: relative;

			.SocialMedia {
				display: inline-block;
				width: 50%;
				position: absolute;
				top: 40%;
				left: 50%;
				transform: translate(-50%, -60%);
				opacity: 0;
				margin: 0;
				height: 10%;
				font-size: 0;
				z-index: 2;

				button {
					margin: 0;
					display: inline-block;
					height: 100%;
					width: 25%;
					font-size: 0;
					background-color: #fce38a;
					opacity: 1;
					z-index: 2;
					border-top: 0;
					border-bottom: 0;
					border-color: rgba(243, 129, 129, 0.508);
					padding: 0;
					cursor: pointer;
					box-shadow: none;

					img {
						display: inline-block;
						opacity: 1;
						width: 50%;
						height: 50%;
						box-shadow: none;
						opacity: 1;
						z-index: 0;
					}
				}

			}

			.MeetOurTeamPhotos {
				min-width: 200px;

				.gradiant {
					position: absolute;
					top: 0;
					left: 0;
					opacity: 0;
					width: 100%;
					height: auto;
				}

				img {
					width: 100%;
					height: auto;
					margin-bottom: 3%;

				}

				&:hover .gradiant {
					opacity: 0.908;
					-webkit-box-shadow: 10px 10px 5px #95e1d3;
					box-shadow: 10px 10px 5px #95e1d3;
				}

				&:hover .SocialMedia {
					opacity: 1;
				}
			}

			p {
				margin-top: 3%;
			}

			p:first-of-type {
				font-size: 14px;
				text-transform: uppercase;
				color: #333333;
				font-weight: 400;
				font-family: $Montserrat;
				text-align: center;
			}

			p:last-of-type {
				font-size: 15px;
				line-height: 24px;
				color: #999999;
				font-weight: 300;
				font-style: italic;
				font-family: $Roboto;
				text-align: center;
			}
		}
	}
}

.hipsterLogos {
	@include pageLayout();
	background-color: #f8f8f8;
	height: 100%;
	box-sizing: border-box;

	.hipsterLogosContent {
		max-width: 1200px;
		height: 100%;
		margin: 0 auto;

		.hipsterLogoPhoto {
			box-sizing: border-box;
			display: inline-block;
			width: 192px;
			vertical-align: middle;
		}

	}
}

.SomeOfOurWork {
	@include pageLayout();
	padding-bottom: 0;

	.SomeOfOurWorkTop {
		h1:first-of-type {
			@include firstH1();
		}

		h1:last-of-type {
			@include secondH1();
		}

		p {
			@include paragraph();
		}
	}

	.SomeOfOurWorkBottom {
		text-align: left;
		font-size: 0;

		div:first-of-type {
			width: 50%;
			display: inline-block;
			font-size: 0;

			img {
				width: 50%;
				height: 395px;
			}
		}

		div:nth-child(2) {
			height: 100%;
			width: 25%;
			display: inline-block;
			font-size: 0;
			margin-left: -4px;

			img {
				width: 100%;
				height: 790px;
			}
		}

		div:last-of-type {
			height: 100%;
			width: 25%;
			display: inline-block;
			font-size: 0;

			img {
				width: 100%;
				height: 395px;
			}
		}
	}
}

.secondQuote {
	@include pageLayout();
	background-color: white;
	height: 290px;
	box-sizing: border-box;
	padding: 0 0;
	vertical-align: middle;
	margin: 2% 0;

	.firstQuoteContent {
		position: relative;
		max-width: 1200px;
		width: 100%;
		height: 100%;
		display: inline-block;
		text-align: left;
		box-sizing: border-box;
	}

	.arrow1 {
		width: 10%;
		display: inline-block;
		text-align: left;
	}

	.firstQuotePhoto {

		height: 100%;
		display: inline-block;
		margin-left: 10%;

		img {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	p {
		display: inline-block;
		width: 100%;
		font-size: 24px;
		line-height: 36px;
		color: #999999;
		font-weight: 300;
		font-style: italic;
		font-family: $Roboto;
	}

	.arrow2 {
		width: 10%;
		display: inline-block;
		text-align: right;
		right: 0;
	}

	.line {
		margin: 0;
		display: inline-block;

	}

	h1 {
		@include firstH1();
		margin: 0;
		text-align: left;
		width: 20%;
		display: inline-block;
	}

	.firstQuoteText {

		width: 65%;
		display: inline-block;
		margin-left: 5%;

		h1 {
			margin-top: 3%;
			width: 60%;
		}
	}
}

.firstQuoteText,
.arrow1,
.arrow2 {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.WhatPeopleSay {
	width: 100%;
	background-image: url('./Photos/WhatPeopleSay/WhatPeopleSayBackground.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	@include pageLayout();

	.WhatPeopleSayTop {

		h1:first-of-type {
			@include firstH1();
		}

		h1:last-of-type {
			@include secondH1();
		}
	}

	.WhatPeopleSayBottom {
		max-width: 1200px;
		margin: 0 auto;

		div {
			width: 49%;
			text-align: left;
			display: inline-block;
			margin-bottom: 5%;


			.WhatPeopleSayPhoto {
				width: 25%;
				vertical-align: top;
			}

			.WhatPeopleSayText {
				width: 60%;

				.line {
					margin: 5% 0;
					width: 25%;
				}

				p:first-of-type {
					margin-bottom: 14px;
					text-transform: uppercase;
					color: #333333;
					font-weight: 400;
					font-family: $Montserrat;
				}

				p:nth-child(2) {
					font-size: 15px;
					color: #333333;
					font-weight: 300;
					font-style: italic;
					font-family: $Roboto;
				}

				p:last-of-type {
					font-size: 15px;
					color: #999999;
					font-weight: 400;
					font-family: $Roboto;
				}
			}
		}


	}
}

.LatestBlog {
	@include pageLayout();

	.LatestBlogContent {
		margin: 0 auto;
		max-width: 1200px;

		.LatestBlogTop {
			h1:first-of-type {
				@include firstH1();
			}

			h1:last-of-type {
				@include secondH1();

			}
		}

		.LatestBlogBottom {
			display: inline-block;
			width: 100%;

			.BlogBox {
				width: 33%;
				display: inline-block;
				text-align: left;

				.BlogBoxPhoto {
					width: 100%;
					height: 50%;
				}

				.BlogBoxText {
					width: 95%;
					margin: 0 auto;

					img {
						width: 20px;
						height: 14px;
					}

					p:first-of-type {
						font-size: 14px;
						text-transform: uppercase;
						color: #333333;
						font-weight: 600;
						font-family: $Montserrat;
					}

					p:nth-of-type(2) {
						font-size: 15px;
						line-height: 24px;
						color: #999999;
						font-weight: 400;
						font-family: $Roboto;
					}

					.line {
						width: 100%;
						height: 1px;
						background-color: #e5e5e5;
						margin: 5% 0;
					}

					p:nth-last-of-type(-n+2) {
						width: 10%;
						display: inline-block;
						font-size: 15px;
						line-height: 24px;
						color: #999999;
						font-weight: 300;
						font-style: italic;
						font-family: $Roboto;
					}
				}
			}
		}


	}
}

.OpenMap {
	@include pageLayout();
	padding: 1% 0;
	background-image: url('./Photos/OpenMap/OpenMapBackground.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.OpenMapContent {
		max-width: 1200px;
		margin: 0 auto;

		img {
			margin: 1% 0;
		}

		.line {
			margin: 2% 0;
			display: inline-block;
		}

		p {
			font-size: 24px;
			text-transform: uppercase;
			color: #f38181;
			font-weight: 700;
			font-family: $Montserrat;

		}
	}
}

.MogoBottomPage {
	@include pageLayout();
	background-color: #f8f8f8;

	.MogoBottomPageContent {
		max-width: 1200px;
		margin: 0 auto;
		text-align: left;

		.Instagram,
		.BottomBlogs,
		.MogoBottomLeft {
			width: 33%;
			display: inline-block;

		}

		.MogoBottomLeft {
			text-align: left;
			vertical-align: top;
			width: 37%;
			margin-right: 3%;
			max-width: 450px;
			max-height: 405px;

			p:first-of-type {
				margin: 11% 0;
				font-size: 15px;
				line-height: 24px;
				color: #999999;
				font-weight: 400;
				font-family: $Roboto;
			}

			p:nth-of-type(2) {
				font-size: 14px;
				color: #333333;
				font-weight: 400;
				font-family: "Montserrat";

				span {
					font-size: 18px;
					color: #333333;
					font-weight: 700;
					font-family: "Montserrat";
				}
			}

			input {
				width: 45%;
				height: 40px;
				background-color: #ffffff;
				border: 1px solid #e7e7e7;
				display: inline-block;
				margin: 8% 0;
			}

			button {
				border: none;
				margin: 0;
				display: inline-block;
				width: 150px;
				height: 44px;
				background-color: #95e1d3;
				margin-left: -4px;
				font-size: 14px;

				color: #ffffff;
				font-weight: 700;
				font-family: $Montserrat;
				text-align: center;
			}

			p:last-of-type {
				width: 20%;
				display: inline-block;
				font-size: 15px;
				line-height: 24px;
				color: #999999;
				font-weight: 300;
				font-style: italic;
				font-family: "Roboto";
			}

			.line {
				width: 100%;
				height: 1px;
				background-color: #e5e5e5;
				margin: 2% 0;
			}
		}

		.BottomBlogs {
			vertical-align: top;
			text-align: left;
			width: 33%;
			max-width: 400px;
			max-height: 380px;

			.BlogName {
				font-size: 14px;
				text-transform: uppercase;
				color: #333333;
				font-weight: 600;
				font-family: "Montserrat";
				vertical-align: top;
			}

			.BottomBlogBox:last-of-type {
				margin-bottom: 0;
			}

			.BottomBlogBox {
				margin: 10% 0;


				p:first-of-type {
					font-size: 14px;
					text-transform: uppercase;
					color: #333333;
					font-weight: 600;
					font-family: $Montserrat;
				}

				p {
					margin: 2% 0;
				}

				p:last-of-type {
					font-size: 13px;
					line-height: 24px;
					color: #999999;
					font-weight: 300;
					font-style: italic;
					font-family: $Roboto;
				}

				.BlogPhoto {
					width: 33%;
					display: inline-block;

					img {
						width: 100%;
					}

				}

				.BlogText {
					vertical-align: bottom;
					width: 65%;
					display: inline-block;
				}
			}
		}

		.Instagram {
			height: 100%;
			vertical-align: top;
			text-align: left;
			width: 26%;
			max-width: 315px;
			max-height: 390px;

			p:first-of-type {
				margin-bottom: 9%;
				font-size: 14px;
				text-transform: uppercase;
				color: #333333;
				font-weight: 600;
				font-family: "Montserrat";
				vertical-align: top;
				text-align: left;

			}

			p:last-of-type {
				margin-top: 5%;
				font-size: 13px;
				line-height: 24px;
				color: #333333;
				font-weight: 300;
				font-style: italic;
				font-family: $Roboto;
			}

			.InstagramPhotos {


				div {
					width: 32%;
					display: inline-block;

					img {
						width: 100%;
					}
				}
			}
		}
	}
}


@media screen and (max-height:730px) {
	.welcomeContent h1:first-of-type {
		margin-top: 0;

	}

	.welcomeContent h1:last-of-type {
		margin-top: 0;
		font-size: 130px;
	}

	ul {
		display: none;
	}
}

@media screen and (max-height:820px) and (min-height:730px) {

	ul {
		display: none;
	}

}


@media screen and (max-width:308px) {
	.LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxText p:nth-last-of-type(-n+2) {
		width: 20%;
	}

	.MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
		margin: 0;
	}

	.MogoBottomPage .MogoBottomPageContent .MogoBottomLeft input {
		width: 40%;
	}

	.MogoBottomPage .MogoBottomPageContent .MogoBottomLeft button {
		width: 110px;
	}


	.MogoBottomPage .MogoBottomPageContent .BottomBlogs .BottomBlogBox p:first-of-type {
		font-size: 9px;
	}

	.MogoBottomPage .MogoBottomPageContent .Instagram {
		margin-top: 8%;
	}

	.MogoBottomPage .MogoBottomPageContent .BottomBlogs,
	.MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
		max-width: none;
		max-height: none;
	}

	.MogoBottomPage .MogoBottomPageContent {
		text-align: center;
	}

	.MogoBottomPage .MogoBottomPageContent .Instagram,
	.MogoBottomPage .MogoBottomPageContent .BottomBlogs,
	.MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
		width: 95%;

	}

	.MogoBottomPage .MogoBottomPageContent {
		text-align: center;
	}



	.LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox {
		width: 80%;
	}

	.LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxText p:nth-of-type(2) {
		font-size: 13px;
	}

	.UniqueDesignPage {
		height: 45vh;


		.UniqueDesignContent .UniqueDesignPhotos {
			img:first-of-type {
				height: 380px;
			}

			img:last-of-type {
				height: 250px;
			

			}
		}

	}

	.WhatPeopleSay .WhatPeopleSayBottom div {
		width: 100%;
	}

	.WhatPeopleSay .WhatPeopleSayBottom div .WhatPeopleSayPhoto {
		text-align: center;
		width: 37%;
	}

	.MeetOurTeam .MeetOurTeamBottom .MeetOurTeamBox {
		width: 80%;
		margin: 0;
	}

	.AmazingServicesPage .AmazingServicesBottom div p:first-of-type {
		font-size: 10px;
	}

	.secondQuote {
		p {
			font-size: 13px;
		}

		.firstQuotePhoto {
			width: 15%;
			text-align: center;
			padding: 35% 0;
			box-sizing: border-box;

			img {
				width: 100%;
				height: 90%;
			}
		}


	}

	.Removed {
		display: none;
	}

	.secondQuote h1,
	.firstQuote h1 {
		font-size: 15px;
	}

	.secondQuotePhoto,
	.firstQuotePhoto {
		img {
			width: 100px;
			height: 100px;
		}
	}

	.firstQuote .firstQuoteText {
		width: 50%;
	}

	.secondQuote p,
	.firstQuote p {
		font-size: 11px;
		width: 79%;
		line-height: 18px;
	}

	.WhatPeopleSay .WhatPeopleSayBottom,
	.secondQuote .firstQuoteContent,
	.MeetOurTeam .MeetOurTeamBottom,
	.firstQuote .firstQuoteContent,
	.WhatWeDo .WhatWeDoBottom {
		width: 100%;
	}

	.WhatWeDo .WhatWeDoBottom {
		.WhatWeDoBottomRight {
			width: 80%;
		}

		.WhatWeDoBottom div:first-of-type {
			width: 100%;
		}

		.WhatWeDo .WhatWeDoBottom div:first-of-type {
			width: 100%;
		}
	}

	.AmazingServicesPage .AmazingServicesBottom div p {
		width: auto;
		margin: 0;
		font-size: 11px;
	}

	.AmazingServicesPage .AmazingServicesBottom div {
		width: 49%;

	}

	.AmazingServicesPage .AmazingServicesBottom {
		width: 90%;
	}

	.AmazingServicesPage .AmazingServicesBottom div:nth-of-type(-n+4) {
		border-bottom: solid 1px #e5e5e5;
	}

	.secondQuote .firstQuoteContent p,
	.aboutUsPage p,
	.MeetOurTeam .MeetOurTeamTop p,
	.SomeOfOurWork .SomeOfOurWorkTop p,
	.WhatWeDo .WhatWeDoTop p {
		width: 100%;

	}

	.aboutUsPage img {
		width: 90%;
	}

	.welcomeContent h1:first-of-type {

		font-size: 28px;
	}

	.welcomeContent h1:last-of-type {
		font-size: 38px;
		line-height: 40px;
	}

	.welcomeBottom>.hoveron>p {
		font-size: 9px;
	}

	.welcomeBottom>.hoveron {
		width: 23%;
	}

	.count {
		height: 50%;

		.countCenter {
			width: 100%;

			p:first-of-type {
				font-size: 41px;
			}

			p:last-of-type {
				font-size: 10px;
			}
		}
	}

	@include defaultMediaValues();


}


@media screen and (max-width:395px) and (min-width:308px) {
	.LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxText p:nth-last-of-type(-n+2) {
		width: 20%;
	}

	.MogoBottomPage .MogoBottomPageContent .MogoBottomLeft input {
		width: 40%;
	}

	.MogoBottomPage .MogoBottomPageContent .MogoBottomLeft button {
		width: 110px;
	}

	.MogoBottomPage .MogoBottomPageContent .Instagram {
		margin-top: 8%;
	}

	.MogoBottomPage .MogoBottomPageContent .Instagram,
	.MogoBottomPage .MogoBottomPageContent .BottomBlogs,
	.MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
		max-width: none;
		max-height: none;
	}

	.MogoBottomPage .MogoBottomPageContent {
		text-align: center;
	}

	.MogoBottomPage .MogoBottomPageContent .Instagram,
	.MogoBottomPage .MogoBottomPageContent .BottomBlogs,
	.MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
		width: 95%;

	}

	.MogoBottomPage .MogoBottomPageContent {
		text-align: center;
	}

	.LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox {
		width: 70%;
	}

	.LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxText p:nth-of-type(2) {
		font-size: 13px;
	}

	.UniqueDesignPage {
		height: 60vh;

		.UniqueDesignContent .UniqueDesignPhotos {
			img:first-of-type {
				height: 400px;
			}

			img:last-of-type {
				height: 254px;
				margin-top: 180px;

			}
		}
	}

	.WhatPeopleSay .WhatPeopleSayBottom div {
		width: 100%;
	}

	.WhatPeopleSay .WhatPeopleSayBottom div .WhatPeopleSayPhoto {
		text-align: center;
		width: 37%;
	}

	.MeetOurTeam .MeetOurTeamBottom .MeetOurTeamBox {
		width: 80%;
		margin: 0;
	}

	.AmazingServicesPage .AmazingServicesBottom div p:first-of-type {
		font-size: 12px;
	}

	.secondQuote {
		p {
			font-size: 19px;
		}

		.firstQuotePhoto {
			width: 15%;
			text-align: center;
			padding: 25% 0;
			box-sizing: border-box;

			img {
				width: 100%;
				height: 90%;
			}
		}

	}

	.Removed {
		display: none;
	}

	.hipsterLogos {
		width: 100%;

		.hipsterLogosContent {
			width: 100%;
			height: 100%;
			display: inline-block;
		}
	}

	.secondQuote h1,
	.firstQuote h1 {
		font-size: 15px;
	}

	.firstQuote .firstQuoteText {
		width: 50%;
		margin: 0;
	}

	.firstQuote {
		.firstQuotePhoto {

			img {
				width: 80%;
			}
		}
	}

	.secondQuote p,
	.firstQuote p {
		font-size: 14px;
		width: 79%;
		line-height: 18px;
	}

	.WhatPeopleSay .WhatPeopleSayBottom,
	.secondQuote .firstQuoteContent,
	.MeetOurTeam .MeetOurTeamBottom,
	.firstQuote .firstQuoteContent,
	.WhatWeDo .WhatWeDoBottom {
		width: 100%;
	}

	.WhatWeDo .WhatWeDoBottom {
		.WhatWeDoBottomRight {
			width: 80%;
		}

		.WhatWeDoBottom div:first-of-type {
			width: 100%;
		}

		.WhatWeDo .WhatWeDoBottom div:first-of-type {
			width: 100%;
		}

	}

	.AmazingServicesPage .AmazingServicesBottom div {
		width: 49%;
	}

	.AmazingServicesPage .AmazingServicesBottom {
		width: 94%;
	}

	.AmazingServicesPage .AmazingServicesBottom div:nth-of-type(-n+4) {
		border-bottom: solid 1px #e5e5e5;
	}




	.aboutUsPage img {
		width: 90%;
		margin: 0;
	}

	.aboutUsPage img:last-child {
		width: 90%;
	}

	.secondQuote .firstQuoteContent p,
	.aboutUsPage p,
	.MeetOurTeam .MeetOurTeamTop p,
	.SomeOfOurWork .SomeOfOurWorkTop p,
	.WhatWeDo .WhatWeDoTop p {
		width: 100%;

	}

	.welcomeContent h1:first-of-type {
		font-size: 35px;
	}

	.welcomeContent h1:last-of-type {
		font-size: 50px;
		line-height: 50px;
	}

	.welcomeBottom>.hoveron>p {
		font-size: 10px;
	}

	.count {
		height: 50%;

		.countCenter {
			width: 100%;

			p:first-of-type {
				font-size: 41px;
			}

			p:last-of-type {
				font-size: 10px;
			}
		}
	}

	@include defaultMediaValues();


}

@media screen and (max-width:485px) and (min-width:395px) {
	.LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxText p:nth-last-of-type(-n+2) {
		width: 20%;
	}

	.MogoBottomPage .MogoBottomPageContent .Instagram {
		margin-top: 8%;
	}

	.MogoBottomPage .MogoBottomPageContent .BottomBlogs,
	.MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
		max-width: none;
		max-height: none;
	}

	.MogoBottomPage .MogoBottomPageContent {
		text-align: center;
	}

	.MogoBottomPage .MogoBottomPageContent .Instagram,
	.MogoBottomPage .MogoBottomPageContent .BottomBlogs,
	.MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
		width: 95%;

	}

	.MogoBottomPage .MogoBottomPageContent {
		text-align: center;
	}

	.LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox {
		width: 50%;
	}

	.LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxText p:nth-of-type(2) {
		font-size: 13px;
	}

	.UniqueDesignPage {
		height: 60vh;

		.UniqueDesignContent .UniqueDesignPhotos {
			img:first-of-type {
				height: 450px;
			}

			img:last-of-type {
				height: 254px;
				margin-top: 180px;

			}
		}
	}

	.WhatPeopleSay .WhatPeopleSayBottom div {
		width: 100%;
	}

	.WhatPeopleSay .WhatPeopleSayBottom div .WhatPeopleSayPhoto {
		text-align: center;
		width: 37%;
	}

	.MeetOurTeam .MeetOurTeamBottom .MeetOurTeamBox {
		width: 80%;
		margin: 0;
	}

	.secondQuote {
		p {
			font-size: 19px;
		}

		.firstQuotePhoto {
			width: 15%;
			text-align: center;
			padding: 17% 0;
			box-sizing: border-box;

			img {
				width: 100%;
				height: 90%;
			}
		}
	}

	.Removed {
		display: none;
	}

	.hipsterLogos {
		width: 100%;

		.hipsterLogosContent {
			width: 100%;
			height: 100%;
			display: inline-block;
		}
	}

	.secondQuote h1,
	.firstQuote h1 {
		font-size: 15px;
	}

	.firstQuote {
		.firstQuotePhoto {
			img {

				width: 90%;
			}
		}

		.firstQuoteText {
			width: 50%;
		}

	}

	.secondQuote p,
	.firstQuote p {
		font-size: 14px;
		width: 88%;
		line-height: 30px;
	}

	.WhatPeopleSay .WhatPeopleSayBottom,
	.secondQuote .firstQuoteContent,
	.MeetOurTeam .MeetOurTeamBottom,
	.firstQuote .firstQuoteContent,
	.WhatWeDo .WhatWeDoBottom {
		width: 100%;
	}

	.WhatWeDo .WhatWeDoBottom {
		.WhatWeDoBottomRight {
			width: 80%;
		}

		.WhatWeDoBottom div:first-of-type {
			width: 100%;
		}

		.WhatWeDo .WhatWeDoBottom div:first-of-type {
			width: 100%;
		}
	}

	.AmazingServicesPage .AmazingServicesBottom div {
		width: 49%;
	}

	.AmazingServicesPage .AmazingServicesBottom {
		width: 90%;
	}

	.AmazingServicesPage .AmazingServicesBottom div:nth-of-type(-n+4) {
		border-bottom: solid 1px #e5e5e5;
	}



	.count {
		height: 50%;

		.countCenter {
			width: 100%;

			p:first-of-type {
				font-size: 41px;
			}

			p:last-of-type {
				font-size: 10px;
			}
		}
	}

	.secondQuote .firstQuoteContent p,
	.aboutUsPage p,
	.MeetOurTeam .MeetOurTeamTop p,
	.SomeOfOurWork .SomeOfOurWorkTop p,
	.WhatWeDo .WhatWeDoTop p {
		width: 100%;

	}

	.welcomeContent h1:first-of-type {

		font-size: 40px;
	}

	.welcomeContent h1:last-of-type {
		font-size: 65px;
		line-height: 65px;
	}

	.welcomeBottom>.hoveron>p {
		font-size: 10px;
	}

	@include defaultMediaValues();


}


@media screen and (max-width:550px) and (min-width:485px) {
	.LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxText p:nth-last-of-type(-n+2) {
		width: 20%;
	}

	.MogoBottomPage .MogoBottomPageContent .Instagram {
		margin-top: 8%;
	}

	.MogoBottomPage .MogoBottomPageContent .BottomBlogs,
	.MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
		max-width: none;
		max-height: none;
	}

	.MogoBottomPage .MogoBottomPageContent {
		text-align: center;
	}

	.MogoBottomPage .MogoBottomPageContent .Instagram,
	.MogoBottomPage .MogoBottomPageContent .BottomBlogs,
	.MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
		width: 95%;

	}

	.MogoBottomPage .MogoBottomPageContent {
		text-align: center;
	}



	.LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox {
		width: 50%;
	}

	.LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxText p:nth-of-type(2) {
		font-size: 13px;
	}

	.UniqueDesignPage {
		height: 65vh;

		.UniqueDesignContent .UniqueDesignPhotos {

			img:first-of-type {
				height: 450px;
			}

			img:last-of-type {
				height: 254px;
				margin-top: 180px;

			}
		}
	}

	.WhatPeopleSay .WhatPeopleSayBottom div {
		width: 100%;
	}

	.WhatPeopleSay .WhatPeopleSayBottom div .WhatPeopleSayPhoto {
		text-align: center;
	}

	.MeetOurTeam .MeetOurTeamBottom .MeetOurTeamBox {
		display: block;
		margin: 0 auto;
	}

	p {
		font-size: 19px;
	}

	.firstQuotePhoto {

		text-align: center;
		padding: 9% 0;
		box-sizing: border-box;

		img {
			width: 100%;
			height: 90%;
		}
	}




	.firstQuote .firstQuoteText {
		width: 50%;
	}

	.hipsterLogos {
		width: 100%;

		.hipsterLogosContent {
			width: 100%;
			height: 100%;
			display: inline-block;
		}
	}

	.secondQuote h1,
	.firstQuote h1 {
		font-size: 15px;
	}

	.secondQuote {
		.firstQuoteContent {
			height: 100%;

		}

		.firstQuotePhoto {
			width: 20%;
			height: 100%;

		}
	}

	.secondQuote p,
	.firstQuote p {
		font-size: 14px;
		width: 88%;
		line-height: 30px;
	}

	.WhatPeopleSay .WhatPeopleSayBottom,
	.secondQuote .firstQuoteContent,
	.MeetOurTeam .MeetOurTeamBottom,
	.firstQuote .firstQuoteContent,
	.WhatWeDo .WhatWeDoBottom {
		width: 100%;
	}

	.AmazingServicesPage .AmazingServicesBottom div {
		width: 49%;
	}

	.AmazingServicesPage .AmazingServicesBottom {
		width: 90%;
	}

	.AmazingServicesPage .AmazingServicesBottom div:nth-of-type(-n+4) {
		border-bottom: solid 1px #e5e5e5;
	}




	.count {
		height: 50%;

		.countCenter {
			width: 100%;

			p:first-of-type {
				font-size: 41px;
			}

			p:last-of-type {
				font-size: 10px;
			}
		}
	}

	.secondQuote .firstQuoteContent p,
	.aboutUsPage p,
	.MeetOurTeam .MeetOurTeamTop p,
	.SomeOfOurWork .SomeOfOurWorkTop p,
	.WhatWeDo .WhatWeDoTop p {
		width: 100%;

	}

	.welcomeContent h1:first-of-type {

		font-size: 50px;
	}

	.welcomeContent h1:last-of-type {
		font-size: 80px;
		line-height: 65px;
	}

	.welcomeBottom>.hoveron>p {
		font-size: 15px;
	}

	@include defaultMediaValues();

}


@media screen and (max-width:609px) and (min-width:550px) {
	.LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxText p:nth-last-of-type(-n+2) {
		width: 20%;
	}

	.MogoBottomPage .MogoBottomPageContent .Instagram {
		margin-top: 8%;
	}

	.MogoBottomPage .MogoBottomPageContent .BottomBlogs,
	.MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
		max-width: none;
		max-height: none;
	}

	.MogoBottomPage .MogoBottomPageContent {
		text-align: center;
	}

	.MogoBottomPage .MogoBottomPageContent .Instagram,
	.MogoBottomPage .MogoBottomPageContent .BottomBlogs,
	.MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
		width: 95%;

	}

	.MogoBottomPage .MogoBottomPageContent {
		text-align: center;
	}

	.MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
		width: 49%;

	}

	.LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox {
		width: 50%;
	}

	.LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxText p:nth-of-type(2) {
		font-size: 13px;
	}

	.UniqueDesignPage {
		height: 65vh;

		.UniqueDesignContent .UniqueDesignPhotos {
			img:first-of-type {
				height: 550px;
			}

			img:last-of-type {
				height: 354px;
				margin-top: 170px;

			}
		}
	}

	.WhatPeopleSay .WhatPeopleSayBottom div {
		width: 100%;
	}

	.WhatPeopleSay .WhatPeopleSayBottom div .WhatPeopleSayPhoto {
		text-align: center;
	}

	.MeetOurTeam .MeetOurTeamBottom .MeetOurTeamBox {
		display: block;
		margin: 0 auto;
	}

	.secondQuote {
		p {
			font-size: 19px;
		}

		.firstQuotePhoto {
			width: 15%;
			text-align: center;
			padding: 11% 0;
			box-sizing: border-box;

			img {
				width: 100%;
				height: 90%;
			}
		}


	}

	.hipsterLogos {
		width: 100%;

		.hipsterLogosContent {
			width: 100%;
			height: 100%;
			display: inline-block;
		}
	}

	.firstQuote h1 {
		font-size: 15px;
	}

	.firstQuote .firstQuoteText {
		margin-left: 1%;
		width: 60%;
	}

	.firstQuote p {
		font-size: 14px;
		width: 88%;
		line-height: 30px;
	}

	.WhatPeopleSay .WhatPeopleSayBottom,
	.secondQuote .firstQuoteContent,
	.MeetOurTeam .MeetOurTeamBottom,
	.firstQuote .firstQuoteContent,
	.WhatWeDo .WhatWeDoBottom {
		width: 100%;
	}

	.AmazingServicesPage .AmazingServicesBottom div {
		width: 49%;
	}

	.AmazingServicesPage .AmazingServicesBottom {
		width: 90%;
	}

	.AmazingServicesPage .AmazingServicesBottom div:nth-of-type(-n+4) {
		border-bottom: solid 1px #e5e5e5;
	}


	.count {
		.countCenter {
			width: 100%;
		}
	}

	.secondQuote .firstQuoteContent p,
	.aboutUsPage p,
	.MeetOurTeam .MeetOurTeamTop p,
	.SomeOfOurWork .SomeOfOurWorkTop p,
	.WhatWeDo .WhatWeDoTop p {
		width: 100%;
		height: 200px;
	}

	.welcomeContent h1:first-of-type {
		font-size: 70px;
		line-height: 95px;
	}

	.welcomeContent h1:last-of-type {
		font-size: 90px;
		line-height: 95px;
	}

	.welcomeBottom>.hoveron>p {
		font-size: 15px;
	}

	@include defaultMediaValues();


}



@media screen and (max-width:714px) and (min-width:609px) {


	.MogoBottomPage .MogoBottomPageContent .Instagram {
		margin-top: 8%;
	}

	.MogoBottomPage .MogoBottomPageContent .BottomBlogs,
	.MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
		max-width: none;
		max-height: none;
	}

	.MogoBottomPage .MogoBottomPageContent {
		text-align: center;
	}

	.MogoBottomPage .MogoBottomPageContent .Instagram,
	.MogoBottomPage .MogoBottomPageContent .BottomBlogs,
	.MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
		width: 80%;

	}

	.MogoBottomPage .MogoBottomPageContent {
		text-align: center;
	}

	.MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
		width: 49%;

	}

	.LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox {
		width: 50%;
	}

	.LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxText p:nth-of-type(2) {
		font-size: 13px;
	}

	.UniqueDesignPage {
		height: 70vh;

		.UniqueDesignContent .UniqueDesignPhotos {
			img:first-of-type {
				height: 550px;
			}

			img:last-of-type {
				height: 354px;
				margin-top: 170px;

			}
		}
	}

	.WhatPeopleSay .WhatPeopleSayBottom div {
		width: 100%;
	}

	.WhatPeopleSay .WhatPeopleSayBottom div .WhatPeopleSayPhoto {
		text-align: center;
	}

	.MeetOurTeam .MeetOurTeamBottom .MeetOurTeamBox {
		display: block;
		margin: 0 auto;
	}

	.secondQuote {
		p {
			font-size: 19px;
		}

		.firstQuotePhoto {
			width: 15%;
			text-align: center;
			padding: 11% 0;
			box-sizing: border-box;

			img {
				width: 100%;
				height: 90%;
			}
		}


	}

	.hipsterLogos {
		width: 100%;

		.hipsterLogosContent {
			width: 100%;
			height: 100%;
			display: inline-block;
		}
	}

	.firstQuote p {
		width: 88%;
	}

	.WhatPeopleSay .WhatPeopleSayBottom,
	.secondQuote .firstQuoteContent,
	.MeetOurTeam .MeetOurTeamBottom,
	.firstQuote .firstQuoteContent,
	.WhatWeDo .WhatWeDoBottom {
		width: 100%;
	}

	.AmazingServicesPage .AmazingServicesBottom div {
		width: 49%;
	}

	.AmazingServicesPage .AmazingServicesBottom {
		width: 90%;
	}

	.AmazingServicesPage .AmazingServicesBottom div:nth-of-type(-n+4) {
		border-bottom: solid 1px #e5e5e5;
	}

	.count .countCenter td {
		font-size: 9px;
	}

	.count {
		.countCenter {
			width: 100%;
		}
	}

	.secondQuote .firstQuoteContent p,
	.aboutUsPage p,
	.MeetOurTeam .MeetOurTeamTop p,
	.SomeOfOurWork .SomeOfOurWorkTop p,
	.WhatWeDo .WhatWeDoTop p {
		width: 100%;

	}

	.welcomeContent h1:last-of-type {
		font-size: 100px;
		line-height: 95px;
	}

	.welcomeBottom>.hoveron>p {
		font-size: 15px;
	}

	@include defaultMediaValues();


}



@media screen and (max-width:974px) and (min-width:714px) {
	.MogoBottomPage .MogoBottomPageContent {
		text-align: center;
	}

	.MogoBottomPage .MogoBottomPageContent .Instagram,
	.MogoBottomPage .MogoBottomPageContent .BottomBlogs,
	.MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
		width: 50%;

	}

	.MogoBottomPage .MogoBottomPageContent {
		text-align: center;
	}

	.MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
		width: 49%;

	}

	.LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox {
		width: 45%;
	}

	.LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxText p:nth-of-type(2) {
		font-size: 13px;
	}

	.UniqueDesignPage {
		height: 75vh;

		.UniqueDesignContent .UniqueDesignPhotos {
			img:first-of-type {
				height: 550px;
			}

			img:last-of-type {
				height: 354px;
			margin-top: 170px;

			}
		}
	}

	.WhatPeopleSay .WhatPeopleSayBottom div {
		width: 100%;
	}

	.WhatPeopleSay .WhatPeopleSayBottom div .WhatPeopleSayPhoto {
		text-align: center;
	}

	.secondQuote {
		p {
			font-size: 19px;
		}

		.firstQuotePhoto {
			width: 15%;
			text-align: center;
			padding: 8% 0;
			box-sizing: border-box;

			img {
				width: 100%;
				height: 90%;
			}
		}


	}

	.hipsterLogos {
		width: 100%;

		.hipsterLogosContent {
			width: 100%;
			height: 100%;
			display: inline-block;
		}
	}

	.WhatPeopleSay .WhatPeopleSayBottom,
	.secondQuote .firstQuoteContent,
	.MeetOurTeam .MeetOurTeamBottom,
	.firstQuote .firstQuoteContent,
	.WhatWeDo .WhatWeDoBottom {
		width: 100%;
	}

	.AmazingServicesPage .AmazingServicesBottom {
		width: 90%;
	}

	.count .countCenter td {
		font-size: 11px;
	}

	.count {
		.countCenter {
			width: 100%;
		}
	}

	.secondQuote .firstQuoteContent p,
	.aboutUsPage p,
	.MeetOurTeam .MeetOurTeamTop p,
	.SomeOfOurWork .SomeOfOurWorkTop p,
	.WhatWeDo .WhatWeDoTop p {
		width: 100%;

	}


	.welcomeContent h1:last-of-type {
		font-size: 120px;

	}

	.welcomeBottom>.hoveron>p {
		font-size: 20px;
	}

	@include defaultMediaValues();


}

@media only screen and (max-width: 2685px) and (min-width:2240px) {
	.welcomeContent h1:last-of-type {
		font-size: 190px;
	}

}

@media only screen and (max-width: 2240px) and (min-width:1911px) {
	.welcomeContent h1:last-of-type {
		font-size: 180px;
	}

}




@media only screen and (max-width:1200px) and (min-width: 975px) {
	@include defaultMediaValues();

	.MogoBottomPage .MogoBottomPageContent {
		text-align: center;
	}

	.MogoBottomPage .MogoBottomPageContent .Instagram,
	.MogoBottomPage .MogoBottomPageContent .BottomBlogs,
	.MogoBottomPage .MogoBottomPageContent .MogoBottomLeft {
		width: 48%;

	}

	.LatestBlog .LatestBlogContent .LatestBlogBottom .BlogBox .BlogBoxText p:nth-of-type(2) {
		font-size: 13px;
	}

	.UniqueDesignPage {
		height: 80vh;
		.UniqueDesignContent .UniqueDesignPhotos{

		
		img:first-of-type {
			height: 550px;
		}

		img:last-of-type {
			height: 400px;
			margin-top: 180px;

		}
	}
	}

	.hipsterLogos {
		width: 100%;

		.hipsterLogosContent {
			width: 100%;
			height: 100%;
			display: inline-block;
		}
	}

	.WhatPeopleSay .WhatPeopleSayBottom,
	.secondQuote .firstQuoteContent,
	.MeetOurTeam .MeetOurTeamBottom,
	.firstQuote .firstQuoteContent,
	.WhatWeDo .WhatWeDoBottom {
		width: 100%;
	}

	.AmazingServicesPage .AmazingServicesBottom {
		width: 90%;
	}

	.count {
		.countCenter {
			width: 100%;
		}
	}
}


@media only screen and (max-width:3760px) and (min-width: 2000px) and (max-height:1764px) and (min-height:1200px) {
	@include defaultMediaValues();
	
	.UniqueDesignPage {
		height: 100vh;
	
	.UniqueDesignContent .UniqueDesignPhotos {
		img:first-of-type {
			height: 1655px;
		}

		img:last-of-type {
			height: 1000px;
		margin-top: 550px;

		}
	}

}

}


@media only screen and (max-width:2000px) and (min-width: 1200px) and (max-height:1764px) and (min-height:1200px){
	@include defaultMediaValues();
	
	.UniqueDesignPage {
		height: 100vh;
	
	.UniqueDesignContent .UniqueDesignPhotos {
		img:first-of-type {
			height: 1700px;
		}

		img:last-of-type {
			height: 1000px;
		margin-top: 700px;

		}
	}

}

}


@media only screen and (max-width:1200px) and (min-width: 800px) and (max-height:1764px) and (min-height:1200px){
	@include defaultMediaValues();
	
	.UniqueDesignPage {
		height: 100vh;

	.UniqueDesignContent .UniqueDesignPhotos {
		padding-top: 700px;
		img:first-of-type {
			height: 1000px;
		}

		img:last-of-type {
			height: 700px;
		margin-top: 350px;

		}
	}

}

}

@media only screen and (max-width:800px) and (min-width: 400px) and (max-height:1764px) and (min-height:1200px){
	@include defaultMediaValues();
	
	.UniqueDesignPage {
	height: 75vh;

	.UniqueDesignContent .UniqueDesignPhotos {
		padding-top: 700px;
		img:last-of-type {
			
		margin-top: 200px;

		}
	
	}
}
}

@media only screen and (max-width:400px) and (min-width: 280px) and (max-height:1764px) and (min-height:1200px){
	@include defaultMediaValues();
	
	.UniqueDesignPage {


	.UniqueDesignContent .UniqueDesignPhotos {
		padding-top: 500px;
		img:last-of-type {
			
		margin-top: 200px;

		}
	
	}
}
}



@media only screen and (max-width:2506px) and (min-width: 2000px) and (max-height:1200px) and (min-height:900px) {
	@include defaultMediaValues();
	
	.UniqueDesignPage {
		height: 100vh;
	
	.UniqueDesignContent .UniqueDesignPhotos {
		img:first-of-type {
			height: 955px;
		}

		img:last-of-type {
			height: 600px;
		margin-top: 350px;

		}
	}

}

}


@media only screen and (max-width:2000px) and (min-width: 1200px) and (max-height:1200px) and (min-height:900px){
	@include defaultMediaValues();
	
	.UniqueDesignPage {
		height: 100vh;
	
	.UniqueDesignContent .UniqueDesignPhotos {
		padding-top: 200px;
		img:first-of-type {
			height: 955px;
		}

		img:last-of-type {
			height: 600px;
		margin-top: 350px;

		}
	}

}

}


@media only screen and (max-width:1200px) and (min-width: 800px) and (max-height:1200px) and (min-height:900px){
	@include defaultMediaValues();
	
	.UniqueDesignPage {
		height: 100vh;
	
	.UniqueDesignContent .UniqueDesignPhotos {
		padding-top: 200px;
		img:first-of-type {
			height: 955px;
		}

		img:last-of-type {
			height: 600px;
		margin-top: 350px;

		}
	}

}

}

@media only screen and (max-width:800px) and (min-width: 500px) and (max-height:1200px) and (min-height:900px){
	@include defaultMediaValues();
	
	.UniqueDesignPage {
	height: 75vh;


	
	.UniqueDesignContent .UniqueDesignPhotos {
		padding-top: 200px;
		img:first-of-type {
			height: 670px;
		}

		img:last-of-type {
			height: 450px;
		margin-top: 150px;

		}
	}


}
}

@media only screen and (max-width:500px) and (min-width: 310px) and (max-height:1200px) and (min-height:900px){
	@include defaultMediaValues();
	
	.UniqueDesignPage {


	.UniqueDesignContent .UniqueDesignPhotos {
		padding-top: 120px;
		img:last-of-type {
			
		margin-top: 180px;

		}
	
	}
}
}

@media only screen and (max-width:310px) and (max-height:1200px) and (min-height:900px){
	@include defaultMediaValues();
	
	.UniqueDesignPage {


	.UniqueDesignContent .UniqueDesignPhotos {
		padding-top: 30px;
		img:last-of-type {
			
		margin-top: 130px;

		}
	
	}
}
}